  <div class="container-fluid"  style="background-color: #fafafa; padding-bottom: 20vh" >

    <div class="row">
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-5 col-sm-7 col-sub col-8">
        <div class="row">
          <img src="./assets/img/SUAS-logo.png" class="img-responsive" width="90%" height="100%" style="padding-left:0.5rem">
          <div class="col-4"></div>
          <!--Temporario-->
          <p> Centro Operacional<br/>das Promotorias de Justiça de Tutela<br/>Coletiva de Defesa da Cidadania</p>
          <!--/Temporario-->
        </div>

        <div class="row">
          <p><br/></p>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12">

        <div class="row t-padding">
          <span class="titulo">O Projeto</span>
        </div>

        <div class="row" >
          <p><br/><br/></p>
          <p class="texto">O <b>Observatório SUAS</b> pretende estruturar uma ação coordenada e estratégica do MPRJ para fiscalizar e exigir a implementação adequada da Assistência Social, bem como provocar a intervenção dos atores sociais vocacionados para esta política pública.</p>
          <p class="texto">Dentre os objetivos pretendidos, destacam-se:</p>
          <ul style="list-style-type:none">
            <li>✓ Exigir a implementação integral da Política de Assistência Social;</li>
            <li>✓ Construir uma metodologia de trabalho nova;</li>
            <li>✓ Criar indicadores para dimensionamento da oferta e da demanda;</li>
            <li>✓ Estabelecer padrões de referência para avaliação da quantidade e qualidade dos serviços ofertados;</li>
            <li>✓ Monitorar os padrões de referência por meio de indicadores;</li>
            <li>✓ Articular parcerias com instâncias de controle social para fomentação da fiscalização do SUAS.</li>
          </ul>
          <div class=" justify-content-end">
            <mp-link class="link col-4 " href="/busca"> saiba mais e baixe a cartilha de orientação e documentos úteis </mp-link>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-xs-12" style="padding-left: 2.5rem;padding-right: 2.5rem">

        <div class="row">
          <div class="superior ">
            <a [routerLink]="['/busca']">ver todas as Legislações </a>
          </div>
          <div class="card">
            <div class="card-block">

              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>

            </div>
          </div>

          <div class="superior " >
            <a [routerLink]="['/busca']">ver todos os orçamentos </a>
          </div>

          <div class="card">
            <div class="card-block">
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
