  <div class="container-fluid"  style="background-color: #fafafa; padding-bottom: 20vh" >

    <div class="row">
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-2 col-sm-7 col-sub col-8">
        <div class="row">
          <img src="./assets/img/Logo_SUAS/Logo_SUAS.png" class="img-responsive ajusta_elemento">
          <div class="col-4"></div>
          <!--Temporario-->
          <p> Centro Operacional<br/>das Promotorias de Justiça de Tutela<br/>Coletiva de Defesa da Cidadania</p>
          <!--/Temporario-->
        </div>

        <div class="row">
          <p><br/></p>
        </div>
      </div>

      <div class="col-lg-10 col-xs-12">
        <div class="row">
        <div class="col-lg-8">
        <div class="row t-padding">
          <span class="titulo">O Projeto</span>
        </div>

        <div class="row" >
          <p><br/><br/></p>
          <p class="texto">O <b>Observatório SUAS</b> pretende estruturar uma ação coordenada e estratégica do MPRJ para fiscalizar e exigir a implementação adequada da Assistência Social, bem como provocar a intervenção dos atores sociais vocacionados para esta política pública.</p>
          <p class="texto">Dentre os objetivos pretendidos, destacam-se:</p>
          <ul style="list-style-type:none">
            <li>✓ Exigir a implementação integral da Política de Assistência Social;</li>
            <li>✓ Construir uma metodologia de trabalho nova;</li>
            <li>✓ Criar indicadores para dimensionamento da oferta e da demanda;</li>
            <li>✓ Estabelecer padrões de referência para avaliação da quantidade e qualidade dos serviços ofertados;</li>
            <li>✓ Monitorar os padrões de referência por meio de indicadores;</li>
            <li>✓ Articular parcerias com instâncias de controle social para fomentação da fiscalização do SUAS.</li>
          </ul>
        </div>
        </div>

      <div class="col-lg-4 col-xs-12" >

        <div class="row t-padding">
          <span class="titulo">inspeções</span>
          <p>Uma visão geral das inspeções já realizadas pela equipe Observatório SUAS</p>
        </div>

          <div class="superior ">
            <a [routerLink]="['/inspecoes']">ver as inspeções </a>
          </div>
          <div class="card">
            <div class="card-block">

              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>

            </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="row t-padding">
          <span class="titulo">ranking de municipios</span>
          <p> O ranking de avaliação dos indicadores referentes ao SUAS nos municipios fluminenses</p>
        </div>

          <div class="superior " >
            <a [routerLink]="['/busca']">ver todos os orçamentos </a>
          </div>

          <div class="card">
            <div class="card-block">
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
            </div>
          </div>
      </div>

      <div class="col-lg-4">

        <div class="row t-padding">
          <span class="titulo">Legislação</span>
          <p> Toda a legislação utilizada como base para avaliação nas inspeções e rankings</p>
        </div>

        <div class="superior " >
          <a [routerLink]="['/busca']">ver todos os orçamentos </a>
        </div>

        <div class="card">
          <div class="card-block">
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4">

        <div class="row t-padding">
          <span class="titulo">orçamento</span>
          <p> Todos os orçamentos municipais e dos programas  federais e estaduais</p>
        </div>

        <div class="superior " >
          <a [routerLink]="['/busca']">ver todos os orçamentos </a>
        </div>

        <div class="card">
          <div class="card-block">
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
            <p class="text-blue"> LEI FEDERAL</p>
            <span> Lei Nº 8.742 de Dezembro de 1993</span>
          </div>
        </div>
      </div>
      </div>
      </div>

    </div>
  </div>

