<div class="container-fluid" >

  <div class="row">
    <p></p>
  </div>

  <div class="row">
    <div class="col-lg-2 col-sm-7 col-sub col-8">
      <div class="row">
        <figure>
          <img src="./assets/img/Logo_SUAS.png" class="img-responsive ajusta_elemento">
        </figure>
        <div class="col-4"></div>
        <!--Temporario-->
        <div style="padding-left: 1.4em;font-size: 85%">
          <p> Centro Operacional<br/>das Promotorias de Justiça de Tutela<br/>Coletiva de Defesa da Cidadania</p>
        </div>
        <!--/Temporario-->
      </div>
      <div class="row">
        <p><br/></p>
      </div>
    </div>



    <div class="col-lg-10 col-xs-12">
      <div class="row">

        <div class="col-lg-8">
          <div class="row t-padding">
            <span class="titulo">O Projeto</span>
            <p>Dori me Interimo adapare Dori me Ameno ameno latire Latiremo Dori me
              Ameno Omenare imperavi ameno Dimere dimere matiro Matiremo ameno</p>
          </div>

          <div class="superior ">
            <a [routerLink]="['/metodologia']">veja a metodologia </a>
          </div>
          <div class=" card macro-card">
            <div class="card-block">
              <p class="texto">O <b>Observatório SUAS</b> pretende estruturar uma ação coordenada e estratégica do MPRJ para fiscalizar e exigir a implementação adequada da Assistência Social, bem como provocar a intervenção dos atores sociais vocacionados para esta política pública.</p>
              <p class="texto">Dentre os objetivos pretendidos, destacam-se:</p>
              <div class="row">
                <div class="col-6">
                  <ul class="texto" style="list-style:inside">
                    <li>Exigir a implementação integral da Política de Assistência Social;</li>
                    <li>Construir uma metodologia de trabalho nova;</li>
                    <li>Criar indicadores para dimensionamento da oferta e da demanda;</li>
                    <li>Estabelecer padrões de referência para avaliação da quantidade e qualidade dos serviços ofertados;</li>
                    <li>Monitorar os padrões de referência por meio de indicadores;</li>
                    <li>Articular parcerias com instâncias de controle social para fomentação da fiscalização do SUAS.</li>
                  </ul>
                </div>
                <div class="col-6">
                  <figure>
                    <img src="./assets/img/Ilustracao_SUAS_fase_6.png" style="width: 100%;height:100%">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-6">
          <div class="row t-padding">
            <span class="titulo">inspeções</span>
            <p>Uma visão geral das inspeções já realizadas pela equipe Observatório SUAS</p>
          </div>
          <div class="superior ">
            <a [routerLink]="['/inspecoes']">ver as inspeções </a>
          </div>
          <div class=" card macro-card">
            <div class="card-block">
              <table>
                <tr>
                  <td><img class="icone img-responsive" src="./assets/img/icones/inspecoes_70px.png" align="left"></td>
                  <td style="background-color: #2d3743; width: 100%; border-bottom: 3px solid whitesmoke;">
                    <div class="keyword" style=" border-bottom: 1px solid whitesmoke;">inspecões</div>
                    <div class="row">
                      <div class="col-5 number" style="padding: 1em 0em 0em 1em;">250
                        <div class="keyword-small">questões</div>
                      </div>
                      <div class="col-6 number-big" style=" text-align: right">5</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img class="icone img-responsive" src="./assets/img/icones/inspecoes_70px.png" align="left"></td>
                  <td style="background-color: #b81d18;border-bottom: 3px solid whitesmoke;">
                    <div class="keyword" style=" border-bottom: 1px solid whitesmoke;">irregularidades</div>
                    <div class="row">
                      <div class="col-4 number" style="padding: 1em 0em 0em 1em;">25%
                        <div class="keyword-small">total</div>
                      </div>
                      <div class="col-7 number-big" style=" text-align: right">5</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img class="icone img-responsive" src="./assets/img/icones/inspecoes_70px.png" align="left"></td>
                  <td style="background-color: #fa8b60;border-bottom: 3px solid whitesmoke;">
                    <div class="keyword" style=" border-bottom: 1px solid whitesmoke;">pontos de irreguladores </div>
                    <div class="row">
                      <div class="col-4 number " style="padding: 1em 0em 0em 1em;" >25%
                        <div class="keyword-small">total</div>
                      </div>
                      <div class="col-7 number-big" style="text-align: right">5</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img class="icone img-responsive" src="./assets/img/icones/inspecoes_70px.png" align="left"></td>
                  <td style="background-color: #b08b0d;border-bottom: 3px solid whitesmoke;">
                    <div class="keyword" style=" border-bottom: 1px solid whitesmoke;">inconsitências</div>
                    <div class="row">
                      <div class="col-4 number" style="padding: 1em 0em 0em 1em;">25%
                        <div class="keyword-small">total</div>
                      </div>
                      <div class="col-7 number-big" style=" text-align: right">5</div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4 ">
          <div class="row t-padding">
            <span class="titulo">ranking de municipios</span>
            <p> O ranking de avaliação dos indicadores referentes ao SUAS nos municipios fluminenses</p>
          </div>
          <div class="superior " >
            <a [routerLink]="['/busca']">ver todos os orçamentos </a>
          </div>
          <div class="card card-special">
            <div class="row">
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >01</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >02</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >03</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >04</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >05</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >06</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >07</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >08</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >09</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                <div class="card micro-card">
                  <tr>
                    <td class="barra-horizontal pesoValor" >10</td>
                    <td>
                      <div class="col-12 keyword-municipio" >São francisco  de itabapoana</div>
                      <div class="col-12 pesoHeader">7.4</div>
                    </td>
                  </tr>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-6">
          <div class="row t-padding">
            <span class="titulo">Legislação</span>
            <p> Toda a legislação utilizada como base para avaliação nas inspeções e rankings</p>
          </div>
          <div class="superior " >
            <a [routerLink]="['/busca']">ver todos os orçamentos </a>
          </div>
          <div class="card ">
            <div class="card-block">
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-6">
          <div class="row t-padding">
            <span class="titulo">orçamento</span>
            <p> Todos os orçamentos municipais e dos programas  federais e estaduais</p>
          </div>
          <div class="superior " >
            <a [routerLink]="['/busca']">ver todos os orçamentos </a>
          </div>
          <div class="card ">
            <div class="card-block">
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
              <p class="text-blue"> LEI FEDERAL</p>
              <span> Lei Nº 8.742 de Dezembro de 1993</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
