a{
  color: #6c757d;
}
.lei{
  margin-top: 16px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.text-blue{
  color: rgb(5, 127, 178);
  text-align: left;
}
.td-home{
  background-color: #2d3743;
  width: 76%;
  border-bottom: 3px solid whitesmoke;

}
.texto {
  font-family: 'Raleway';
  font-size: 98%;
  line-height: 120%;
  padding-left: .9rem;
  padding-right: .9rem;
  color: black;
}
.img-responsive{
  padding-right:.4em;
  padding-left:.4em;
  padding-top:.4em;
  padding-bottom:.4em;
  max-width: 100%;
}
.icone {
  width:5rem;
  padding-right:.4em;
  padding-left:.4em;
  padding-top:.4em;
  padding-bottom:.4em;
  max-width: 100%;

}
.link {
  position: relative;
  bottom: 10%;
  right: 2%;
  font-family: 'Raleway';
  font-size: 150%;
  line-height: 90%;
  text-align: right;
  color: rgb(5, 127, 178);
  cursor: pointer;
  float: right;
}

.superior {
  background: url('./assets/img/borda_veja_mais.png') no-repeat right 2.2rem;

  height: 3rem;
  margin-top: 0!important;
  margin-bottom: -24px;
  margin-right: -6px;
}

.keyword{
  font-family: 'Raleway';
  font-size: 0.865rem;
  text-transform: uppercase;
  color: whitesmoke;
}

.keyword-small{
  @extend .keyword;
  font-size: 41%;
}

.keyword-municipio{
  @extend .keyword;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.number-big{
  font-family: 'Roboto-Condensed';
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 3.9rem;
  padding-right: 1.2em;
}

.number{
  @extend .number-big;
  font-size: 1.4rem;
}

.superior a {
  color: white!important;
  background-color: #057fb2;
  line-height: 2.2rem!important;
  font-size: 0.8rem!important;
  text-transform: uppercase;
  padding-right: 4.5rem;
  padding-left: 0.5rem;
  font-weight: 600!important;
  height: 2.2rem;
  display:block;
  float: right;
}


.dimensao {
  font-family: 'Raleway';
  font-size: 140%;
  line-height: 90%;
  font-weight: bold;
  word-wrap: normal;
}

.pesoHeader {
  font-family: 'Roboto-Condensed';
  font-size: 130%;
  font-weight: normal;
  line-height: 90%;
  word-wrap: normal;
  padding-top: .7em;
  padding-right: 1.33em;
}

.pesoValor {
  font-family: 'Roboto-Condensed';
  font-size: 250%;
  line-height: 90%;
  font-weight: normal;
  color: rgb(76, 77, 79);
  right: 2%;
  word-wrap: normal;
  padding-right: .13em;
}

.info {
  font-family: 'Raleway';
  font-size: 100%;
  line-height: 95%;
  margin-bottom: 2.6em;
  font-weight: 600;
}

.card{//importação não funciona
  border-radius: 0;
  float: right;
  margin-right: 11px;
  margin-top: 11px;
  height: 34em;
  padding: 15px 20px 0px 20px;
}

.card-special {
  @extend .card;
  width: 100%;
}

.macro-card{
  @extend .card;
  height: 35em;
  padding-left: 1em ;
  padding-right: 1em ;
  padding-top: 1em ;
  padding-bottom: 0em ;
  margin-bottom: 2em;
}

.micro-card{
  @extend .card;
  margin: 0em;
  padding: 0.5em ;
  width: 100%;
  height: 6.3em;
  text-align: right;
}

.barra-horizontal{
  border-right: 2px solid rgb(76, 77, 79);
  height: 2.1em;
}

h2.title{
  width: 165px;
}

.box{
  width:auto;
  height: 90px; 
}
.scroll {
  height:70%;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 1%;
}


h1{
  text-align:right;
}

p{
  font-size: 89%;
}

ul > li{
  padding-bottom: 1em;
}

div mp-link{
  margin-bottom: 2rem;
}

div > span{
  padding-bottom: .9rem;
}

@media (max-width: 575px) {
  .img-envolvida{
    display: none;
  }
}

@media (max-width: 991px) {
  .card {
    padding-bottom: 1em;
  }

}

@media(max-width:1199px){

  e-link.link{  position: inherit;bottom: inherit;right: inherit  }

  .titulo {  font-size: 1.3rem;  }
}

@media (min-width:768px )and (max-width: 1199px) {
  .texto{
    font-size: 83%;
  }
  .pesoValor{
   font-size:  187%;
  }
  .pesoHeader{
    font-size: 100%;
  }
  .keyword-municipio{
    font-size: .73em;
  }
  .macro-card ,.card-special{
    height: 34em!important;
  }

}


