h1{
  text-align:right;
}

p{
  font-size: 95%;

}

ul > li{
  padding-bottom: 1.6rem;
}
div mp-link{
  margin-bottom: 2rem;
}
div > span{
  color: black;
  padding-bottom: 2rem;
}
.text-blue{
  color: rgb(5, 127, 178);
  text-align: left;
}

.texto {
  font-family: 'Roboto-Condensed-Light';
  font-size: 120%;
  line-height: 90%;
  padding-left: .9rem;
  padding-right: .9rem;
}

.link {
  position: relative;
  bottom: 10%;
  right: 2%;
  font-family: 'Roboto-Condensed';
  font-size: 150%;
  line-height: 90%;
  text-align: right;
  color: rgb(5, 127, 178);
  cursor: pointer;
  float: right;
}

.superior {
  background: url('/dist/dev/assets/img/borda_veja_mais.png') no-repeat right 2.2rem;

  height: 3rem;
  margin-top: 0!important;
  margin-right: -17px;
}

.superior a {
  color: white!important;
  background-color: #057fb2;
  line-height: 2.2rem!important;
  font-size: 0.8rem!important;
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 600!important;
  height: 2.2rem;
  display:block;
}


@media(max-width:1199px){
  img.img-responsive { width:90%;}
  e-link.link{position: inherit;bottom: inherit;right: inherit}
  max-width: 100%;
}
@media (max-width: 1068px) {
  .titulo {
    font-size: 1.17rem;
  }
}
