.t-padding{
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

option{
  color: black !important;
}

//BEGIN SWITCH

.button-switch {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 2rem;
  padding: 0.2rem;
}

.button-switch input {display:none;}

.slider {
  color: #057fb2;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  width: auto;
  border: 2px solid #a3afbf;
  border-radius: 5px;
  line-height: 34px;
  padding: 0 20px;
  display: block;
  cursor: pointer;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  color: white;
  background-color: #057fb2;
  border-color: #057fb2;
}

//END SWITCH

:host/deep/{
  .ui-widget-content a{
    color: #d9dde8;
  }
  li > label{
    color: #374c61;
}
  .ui-inputtext{
    width: 7rem;
  }

  .ui-multiselect .ui-multiselect-label-container{
    max-width: 15rem;
    min-width: 15rem;
  }

  .ui-multiselect-items-wrapper{
    overflow: auto;
    max-height: 4.7rem;
  }
 .form-group label:hover{
    color: #374c61;
  }
}
#btn-1{
  padding-top: 1.2rem;
}

#btn-2{
  padding-top: 1.2rem;
}
@media (min-width:768px) and (max-width: 1068px) {

  .btn-primario {
    width: 8rem;
  }
  .btn-secundario {
    width: 8rem;
  }

  .button-switch{
    width: 9rem;
  }

  :host /deep/ {
    .ui-multiselect {
      max-width: 12rem;
      min-width: 12rem;
    }
  }
}
@media (max-width: 1068px) {
  .titulo{
    font-size: 1.17rem;
  }
  #select-inspecao{
    margin-bottom: .9rem!important;
  }
}
