<div class="container-fluid" style="background-color: #fafafa">

  <div class="row">
    <p></p>
  </div>

  <div class="row">
    <div>
      <div class="row t-padding">
        <span class="titulo">Busca de Inspeções no Observatório SUAS</span>
      </div>
      <div class="row">
        <span class="subtitulo">Indique os critérios de  busca para visualizar os dados das inspeções realizadas nos equipamentos</span>
      </div>

        <div class="card">
          <div class="card-block">
            <div class="col-12">
              <div class="row">
                <div class="col-xl-2 col-md-3" style="padding-left: 0.8rem">
                  <div class="row">Início</div>
                  <div class="row">
                    <p-calendar [(ngModel)]="date1" id="date1" [locale]="pt" dateFormat="mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2016" [showIcon]="true" ></p-calendar>
                  </div>
                </div>
                <div class="col-xl-2 col-md-3" style="padding-left: 0.8rem">
                  <div class="row">Fim</div>
                  <div class="row">
                    <p-calendar [(ngModel)]="date2" id="date2" [locale]="pt" dateFormat="mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2017" [showIcon]="true"></p-calendar>
                  </div>
                </div>

                <!-- botões selected-->

                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-4 col-4" >
                  <div class="row" style="padding-left: .6rem">
                    Tipo de inspeção
                  </div>
                  <div class="row" id="select-inspecao">

                    <label class="button-switch">
                      <input type="checkbox" name="check1" (click)="selectTipo(1)" id="check1">
                      <span class="slider">CRAS</span>
                    </label>

                    <label class="button-switch">
                      <input type="checkbox" name="check2" (click)="selectTipo(2)" id="check2">
                      <span class="slider">CREAS</span>
                    </label>

                    <label class="button-switch">
                      <input type="checkbox" name="check3" (click)="selectTipo(3)" id="check3">
                      <span class="slider">CENTRO POP</span>
                    </label>
                  </div>
                </div>

                <!-- Só testando os tamanhos dos campos a serem usados -->
                <!-- selecionar -->
                <div class="col-xl-4 col-md-4">
                  <div class="row" style="padding-left: 15px">
                    Eixos
                  </div>
                  <div class="form-group" [ngSwitch]="crasSelected===false && creasSelected===false && centropopSelected===false">
                    <p-multiSelect *ngSwitchCase="true" [disabled]="true" [options]="eixos"  defaultLabel="Selecionar Eixo" maxSelectedLabels= "2" selectedItemsLabel="{0} Eixos selecionados"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="false" [options]="eixos" [(ngModel)]="selectedEixos" defaultLabel="Selecionar Eixo" maxSelectedLabels="2" selectedItemsLabel="{0} Eixos selecionados"></p-multiSelect>
                  </div>
                </div>
                <div class="col-xl-4 col-md-4">
                  <div class="row" style="padding-left: 15px">
                    Municípios
                  </div>
                  <div class="form-group" [ngSwitch]="crasSelected===false && creasSelected===false && centropopSelected===false">
                    <p-multiSelect *ngSwitchCase="true" [disabled]="true" [options]="municipios"  defaultLabel="Selecionar Municipio" maxSelectedLabels= "2" selectedItemsLabel="{0} Municipios selecionados"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="false" [options]="municipios" [(ngModel)]="selectedMunicipios" (onChange)="preencheEquipamentos()" defaultLabel="Selecionar Municipio" maxSelectedLabels= "2" selectedItemsLabel="{0} Municipios selecionados"></p-multiSelect>
                  </div>
                </div>

                <div class="col-xl-4 col-md-4">
                  <div class="row" style="padding-left: 15px">
                    Equipamento
                  </div>
                  <div class="form-group">
                    <div [ngSwitch]="crasSelected===false && creasSelected===false && centropopSelected===false" class="form-group">
                      <p-multiSelect *ngSwitchCase="true" [disabled]="true" [options]="equipamentos"  defaultLabel="Selecionar Equipamento" maxSelectedLabels= "2" selectedItemsLabel="{0} Equipamentos selecionados"></p-multiSelect>
                      <p-multiSelect *ngSwitchCase="false" [options]="equipamentos" [(ngModel)]="selectedEquipamentos" defaultLabel="Selecionar Equipamento" maxSelectedLabels="2" selectedItemsLabel="{0} Equipamentos selecionados"></p-multiSelect>
                    </div>
                  </div>
                </div>

                <!-- botões-->

                <div class=" col-xl-2 col-lg-2 col-md-3" id="btn-1">
                  <button class="btn-secundario" (click)="limpar()">Limpar Critérios</button>
                </div>
                <div class="col-xl-2  col-lg-2 col-md-2" id="btn-2">
                  <button class="btn-primario">Buscar</button>
                </div>
             </div>
            </div>

          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row t-padding">
        <span class="titulo">Resultados da consulta</span>
      </div>
      <div class="row">
        <span class="subtitulo">Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.</span>
      </div>
      <div class="row">
        <div class="card" style="height: 25rem">
          <div class="card-block">
            <div class="col-12">


              <p-accordion>
                <p-accordionTab header="Resultados">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper semper lacinia. Maecenas eu blandit ligula. Aenean non lorem semper tortor ultrices dictum consectetur a nunc. Suspendisse quis tincidunt metus. Maecenas viverra non dolor vel accumsan. Aliquam id magna ut eros accumsan facilisis vitae non dolor. Fusce facilisis euismod mauris. Vestibulum in nulla odio. Nunc non porta ante, et tempor nulla. Donec suscipit odio nunc, vitae imperdiet arcu iaculis vitae. Vivamus nisi lorem, placerat sit amet facilisis quis, efficitur nec orci. Quisque id cursus eros. Etiam eget pretium nisl, quis sollicitudin dui.

                  In placerat nisi sit amet sodales rutrum. Nulla mollis a diam id sodales. Etiam pulvinar neque non odio luctus suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan nisl vitae orci rhoncus ullamcorper. Curabitur at tincidunt augue. Proin ut massa libero. Phasellus porttitor tincidunt felis sed mattis. Aenean imperdiet leo sit amet elementum blandit.

                  In hac habitasse platea dictumst. Nunc accumsan lorem vel nibh hendrerit, nec aliquet urna blandit. Vestibulum porta risus purus, quis rutrum ligula cursus eu. In ut dui et sapien rhoncus egestas quis non diam. Etiam orci ex, convallis sit amet magna eu, rutrum tincidunt mauris. Maecenas vel aliquam tellus, sit amet commodo est. Maecenas molestie lorem massa, quis lacinia nulla auctor ac. Sed arcu tellus, pulvinar id accumsan a, sollicitudin quis quam. Sed sit amet posuere erat. Vestibulum congue ultricies nunc, a vestibulum risus molestie sed. Etiam eleifend justo sem, at feugiat libero tempus eu. Duis aliquet a ante eget lacinia.

                  Vivamus ultrices imperdiet neque. Fusce euismod venenatis sapien quis gravida. Curabitur id velit ut ante gravida posuere id vitae turpis. Nulla et sagittis mi. Integer venenatis lectus turpis, ut pharetra metus fermentum quis. Phasellus ac ipsum turpis. Phasellus porttitor tincidunt velit ut maximus. Maecenas sit amet scelerisque elit, sit amet fringilla ex. Phasellus gravida fringilla sollicitudin. Mauris id orci vestibulum, luctus augue eget, commodo quam. Duis sed elementum massa. Duis tincidunt erat velit, vel tincidunt ipsum sagittis eu. Sed auctor tempor tempus.

                  Nulla sit amet turpis sed justo laoreet tempus. Nulla tristique justo eget sapien condimentum gravida et a nulla. Sed tincidunt neque non facilisis gravida. Nunc sagittis euismod ex, ac scelerisque diam lacinia et. In sed sem elit. Suspendisse enim orci, varius eget nulla eu, porttitor aliquet sapien. Ut lacinia mattis mauris eu fringilla. In at mauris fermentum, porta nulla eget, mattis velit. Nulla quis nisl vel nibh porttitor lacinia posuere quis nibh. Nunc at commodo nisi.
                </p-accordionTab>
              </p-accordion>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
