<div class="container-fluid">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row t-padding">
        <span class="titulo">Filtros para seleção</span>
      </div>
      <div class="row">
        <span class="subtitulo">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI.</span>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-block">
            <div class="col-12">
              <div class="row">
                <div class="col-2">
                  <div>Início</div>
                  <input type="date" name="begin">
                </div>
                <div class="col-2">
                  <div>Fim</div>
                  <input type="date"  name="end">
                </div>

                <div class="col-2">
                  <div class="row">
                    Tipo de inspeção
                  </div>
                  <div class="row">
                    <button type="button" class="btn btn-secondary">CRAS</button>
                    <button type="button" class="btn btn-secondary">CREAS</button>
                    <button type="button" class="btn btn-secondary">CENTRO POP</button>
                  </div>
                </div>

                <!-- Só testando os tamanhos dos campos a serem usados -->
                <div class="col-3">
                  <div class="row">
                    Eixos
                  </div>
                  <div class="form-group">
                    <select multiple class="form-control" id="sel2">
                      <option>EQUIPE TÉCNICA</option>
                      <option>INFRAESTRUTURA</option>
                      <option>PROGRAMAS, PROJETOS, SERVIÇOS E BENEFÍCIOS</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="row">
                    Municípios
                  </div>
                  <div class="form-group">
                    <select multiple class="form-control" id="sel2">
                      <option>ANGRA DOS REIS</option>
                      <option>BARRA DO PIRAÍ</option>
                      <option>NITERÓI</option>
                      <option>SÃO GONÇALO</option>
                      <option>NITERÓI</option>
                      <option>SÃO GONÇALO</option>
                      <option>NITERÓI</option>
                      <option>SÃO GONÇALO</option>
                    </select>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-10">
              Equipamento
            <select multiple class="form-control" id="sel2">
              <option>CRAS BARRA DO PIRAÍ CENTRO</option>
              <option>CRAS - BARRA DO PIRAÍ - AREAL</option>
              <option>CRAS - BARRA DO PIRAÍ - CALIFÓRNIA DA BARRA</option>
              <option>CRAS - BARRA DO PIRAÍ - VARGEM ALEGRE</option>
            </select>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row t-padding">
        <span class="titulo">Resultados da consulta</span>
      </div>
      <div class="row">
        <span class="subtitulo">Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.</span>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-block">
            <div class="col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
