<div class="container-fluid">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row t-padding">
        <span class="titulo">Filtros para seleção</span>
      </div>
      <div class="row">
        <span class="subtitulo">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI.</span>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-block">
            <div class="col-12">
              <div class="row">
                <div class="col-2">
                  <div>Inicio</div>
                  <input type="date" name="begin">
                </div>
                <div class="col-2">
                  <div>Fim</div>
                  <input type="date" name="end">
                </div>
                <div class="col-3">
                  <div class="row">
                    Tipo de inspeção
                  </div>
                  <div class row>
                    <button type="button" class="btn btn-secondary">CRAS</button>
                    <button type="button" class="btn btn-secondary">CREAS</button>
                    <button type="button" class="btn btn-secondary">CENTRO POP</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row t-padding">
        <span class="titulo">Resultados da consulta</span>
      </div>
      <div class="row">
        <span class="subtitulo">Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.</span>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-block">
            <div class="col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
