.t-padding{
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
div.row p-toggleButton{
  margin-top: .5rem   ;
}

.card{
  min-height: 20rem;
}
option{
  color: black !important;
}

.btn-primary{
  background-color: #c89d51!important;
  background-image: none!important;
  text-shadow: none!important;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  width: auto;
  border-radius: 5px;
  border: 2px solid #c89d51!important;
  line-height: 34px;
  padding: 0 92px!important;
  box-shadow: none!important;
  outline: none!important;
}

.btn-secondary {
  color: #057fb2;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: auto;
  border: 2px solid #a3afbf;
  border-radius: 5px;
  line-height: 34px;
  padding: 0 20px;
  cursor: pointer;
  display: block;
  background-color: white !important;
}
