.oceano {
  fill:#FFFFFF;
}

.oceano:hover {
  fill: #0680b2;
  fill-opacity: 0.2;
}

.contornoEstado {
  fill: #1e2a37;
  stroke:#1e2a37;
  stroke-width:1056;
}

.selected {
  color: #2e3a48!important;
}

.municipios {
  color: #fafafa;
  stroke:#1e2a37;
  stroke-width:106;
}

.municipios:hover {
  color: #0680b2;
}

.select{
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  line-height: 100%;
  background-color: #E0E0E0;
  border-style: none;
  color: rgba(10, 10, 10, 0.87);
  cursor: pointer;
  padding: 4px 8px;
  text-decoration: none;
  margin-right: 10px;
  width: 100%;
}
