<div class="modal-header">

  <div class="modal-body">
    <div class="container-fluid" style="background-color: white">
      <div class="row">

        <div class="col-4 hidden-md-down" style="margin-top: 7%">
          <figure>
            <img src="./assets/img/Logo_SUAS.png" class="img-responsive ajusta_elemento">
          </figure>

        </div>

        <div class="col-8" style="margin-top: 5%">
          <h3>Nota de esclarecimento sobre o Ranking do Observatório SUAS</h3>
          <br/>O Centro de Apoio Operacional das Promotorias de Justiça de Tutela Coletiva de Defesa da Cidadania – CAO Cidadania vem por meio desta esclarecer que o Observatório SUAS encontra-se em período de teste e retificação de dados e indicadores. Solicitamos, por gentileza, que os Gestores Municipais da Assistência Social verifiquem os dados e, caso encontrem divergências, entrem em contato pelo telefone <b>21-2215-1758</b> ou pelo email <b>observatorio.suas@mprj.mp.br</b> .
          <br/><br/>No que diz repeito ao ranking geral, ainda não foi atribuída uma nota ao Eixo Inspeção, que corresponde a uma das 08 dimensões, tendo em vista a necessidade da visita dos técnicos do MPRJ em todos os equipamentos dos municípios. Desta maneira informamos que poderão ocorrer variações na classificação do ranking dos municípios.
          <br/><br/>Ressaltamos que para divulgação de dados desta plataforma se faz necessário o contato com o CAO Cidadania, pelos e-mail e telefone indicados acima.

          <button class="link btn btn-primary-outline" style="float: right" (click)="activeModal.close('Close click')">Ok,<br/>entendi</button>

        </div>

      </div>
    </div>
    <br>
  </div>

</div>
