.form-control{
  width: 100%;
  background-color:white;
  color: #304051;
}

.row{
  width: 100%;
}

.form-group{
  padding-left:23%;
}

.link {

  bottom: 0%;
  right: 2%;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 150%;
  line-height: 90%;
  text-align: center;
  color: rgb(5, 127, 178);
  cursor: pointer;
}

.btn-primary-outline{
  border:none;
  background: transparent;
  margin-top: 1.5em;
}

h3{
  font-family: 'Raleway';
  font-size: 135%;
  font-weight: bold;

}

p{
  text-align: right;
  padding: 0%;
  margin: 0%;
  font-family: 'Raleway';
  font-size: 80%;
  line-height: 90%;
}

br{
  margin-bottom: 0.5rem;
}

a{
  color: #057fb2 !important;
}

