//@import "/node_modules/normalize.css/normalize.css";
@import "../scss/theme";
@import "../scss/initial";
@import "GradacoesDeCores";

.img-envolvida {
  float: left;
  shape-outside: url("../assets/img/Predio Estagio 4 - Construção Adiantada.png");
  shape-margin: 5%;
  shape-image-threshold: 0.5;
}

div.borderedR{
  border-right: 0.05rem solid #000000;
  padding-right: 5%;
}

div.borderedL{
  border-left: 0.05rem solid #000000;
  padding-left: 2rem;
}

.titulo{
  font-family: 'Raleway';
  font-size: 1.8vw;
  line-height: 90%;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: url('/dist/dev/assets/img/borda-titulo.png') no-repeat left top;
}

.subtitulo {
  font-family: 'Raleway';
  font-size: 0.95rem;
  line-height: 80%;
  padding-left: 1rem;
}

.t-padding{
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.card{
  color: inherit;
  background-color: white;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  background-color: white;
  border-right: 1px solid #d2d7de!important;
  border-bottom: 1px solid #d2d7de!important;
  border-left: 1px solid #eaecee!important;
  border-top: 1px solid #eaecee!important;
  padding: 30px!important;
}

.btn-primario{
  color: white;
  background-color: #c89d51!important;
  background-image: none!important;
  text-shadow: none!important;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  width: 10rem;
  border-radius: 5px;
  border: 2px solid #c89d51!important;
  line-height: 34px;
  box-shadow: none!important;
  outline: none!important;
  padding: 0.344rem 1rem;
  white-space: nowrap;
}

.btn-primario:hover {
  background-color: #b38328!important;
  border-color: #b38328!important;
}

.btn-secundario {
  color: #057fb2;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 10rem;
  border: 2px solid #a3afbf;
  border-radius: 5px;
  line-height: 34px;
  cursor: pointer;
  display: block;
  background-color: white !important;
  padding: 0.344rem 1rem;
  white-space: nowrap;
}

.btn-secundario:hover {
  color: white!important;
  background-color: #057fb2!important;
  border-color: #057fb2!important;
}
