/*.botao-download{
  width: 19rem!important;
}*/

.field-select {
  color: #555;
  border: 1px solid #afb7c7;
  background-color: white;
  width: 100%;
}

.field-input {
  color: #555;
  border: 1px solid #afb7c7;
  background-color: white;
  width: 100%;
  height: 2.4rem !important;
}

.img-fluid{
  width: 5.6em;
  margin-bottom: 2em;
}
.card{
  padding: 20px;

}
.text-blue{
  color: rgb(5, 127, 178);
  text-align: left;
}

#_mprjbusca_WAR_mprjbuscaportlet_buscar{
  width: 100%;
  height: 2.88em;
}

#_mprjbusca_WAR_mprjbuscaportlet_keywords_param{
  margin-bottom: 1.2rem;
}

#_mprjbusca_WAR_mprjbuscaportlet_keywords_param2{
  margin-bottom: 1.2rem;
}

#_mprjbusca_WAR_mprjbuscaportlet_filtro_param{
  margin-bottom: 1.2rem;
}

.alinha-card{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 14em;
}

.btn-secundario{
  line-height: 30px;
  margin-top: 1.2rem;
  width: 100%;
}
.btn-primario{
  padding: 0;
}
.totalRes {
  color: #a3afbf;
  font-size: 14px;
  padding-left: 0.3rem;
}

@media (max-width: 991px) {
  .titulo{
    font-size: 1.3rem;
  }
}
