<div class="container-fluid" style="min-height: 100vh">
  <div class="row">

    <div class="row t-padding">
      <span class="titulo">Busca no Observatório SUAS</span>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <h5>Buscador</h5>
          </div>
          <div style="color: red">
            {{errorMessage}}
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-12">
              <input *ngIf="pesquisa==='0'" class="field-input" id="_mprjbusca_WAR_mprjbuscaportlet_keywords_param2" name="pesquisa" title="keywords_param" type="text" value="" style="height: 28px; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;" onfocus="removeLabel()">
              <input *ngIf="pesquisa!=='0'" [ngModel]="pesquisa" class="field-input" id="_mprjbusca_WAR_mprjbuscaportlet_keywords_param" name="pesquisa" title="keywords_param" type="text" value="" style="height: 28px; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;" onfocus="removeLabel()">
            </div>
            <div class="col-lg-3 col-md-12">
              <select [ngModel]="categoria" class="field-select" id="_mprjbusca_WAR_mprjbuscaportlet_filtro_param" name="categoria" title="filtro_param" style="height: 38px !important; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;">
                <option class="" value="0"> Todas as Categorias </option>
                <option class="" value="legislacao"> Legislação </option>
                <option class="" value="orcamento"> Orçamento </option>
                <option class="" value="cartilha"> Cartilhas </option>
                <option class="" value="inspecoes"> Inspeções </option>
              </select>
            </div>
            <div class="col-lg-2 col-md-5">
              <button (click)="onSubmit()" class="btn-primario" id="_mprjbusca_WAR_mprjbuscaportlet_buscar"> Buscar </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left: 1rem">
    Resultados da busca <div class="totalRes">({{resultadosEncontrados}} Resultados encontrados)</div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let documento of documentosProcurados">
      <div class="card">
        <div class=" alinha-card" >
          <img class="img-fluid" src="./assets/img/icones/Icones_Tela_1_{{documento.categoria}}.png">
          <p class="text-blue" style="text-transform: uppercase" *ngIf="documento.categoria==='legislacao'"> Legislação</p>
          <p class="text-blue" style="text-transform: uppercase" *ngIf="documento.categoria==='orcamentoMunicipal'"> Orçamento Municipal</p>
          <p class="text-blue" style="text-transform: uppercase" *ngIf="documento.categoria==='orcamentoEstadual'"> Orçamento Estadual</p>
          <p class="text-blue" style="text-transform: uppercase" *ngIf="documento.categoria==='repasse'"> Repasse Financeiro Federal</p>
          <p class="text-blue" style="text-transform: uppercase" *ngIf="documento.categoria==='cartilha'"> Manual/Cartilha</p>
          <p class="text-blue" style="text-transform: uppercase" *ngIf="documento.categoria==='inspecoes'"> Inspeção</p>
          <span>{{documento.nome}}</span>

        </div>
        <a href= "./assets/dados/20171121/{{documento.arquivo}}" download="{{documento.arquivo}}" target="_blank">
          <button class="btn-secundario botao-download">Acessar</button>
        </a>
      </div>
    </div>

  </div>
</div>
