<div class="container-fluid" style="background-color: #fafafa;min-height: 100vh">
  <div class="row">

    <div class="row t-padding">
      <span class="titulo">Busca no Observatório SUAS</span>
    </div>

  </div>
  <div class="row">
    <div class="card">
      <div class="card-block">
        <div class="row">
          <h5>Buscador</h5>
        </div>
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <input class="field-input" id="_mprjbusca_WAR_mprjbuscaportlet_keywords_param" name="_mprjbusca_WAR_mprjbuscaportlet_keywords_param" title="keywords_param" type="text" value="" style="height: 28px; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;" onfocus="removeLabel()">
          </div>
          <div class="col-lg-3 col-md-12">
            <select class="field-select" id="_mprjbusca_WAR_mprjbuscaportlet_filtro_param" name="_mprjbusca_WAR_mprjbuscaportlet_filtro_param" title="filtro_param" style="height: 38px !important; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;">
              <option class="" value="todos"> Todas as Categorias </option>
              <option class="" value="legislacao"> Legislação </option>
              <option class="" value="orcamentos"> Orçamentos </option>
              <option class="" value="orcamentos"> Peças de Atuação </option>
            </select>
          </div>
          <div class="col-lg-2 col-md-5">
            <button class="btn-primario" id="_mprjbusca_WAR_mprjbuscaportlet_buscar" type="submit"> Buscar </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left: 1rem">
    Resultados da busca (x Resultados encontrados)
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-block alinha-card" >
          <img class="img-fluid" src="./assets/img/icones/Icones_Tela_1_Legislação_2.png">
          <p class="text-blue"> LEI FEDERAL</p>
          <span> Lei Nº 8.742 de Dezembro de 1993</span>
          <button class="btn-secundario">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-block alinha-card">
          <img class="img-fluid" src="./assets/img/icones/Icones_Tela_1_Legislação_2.png">
          <p class="text-blue"> LEI FEDERAL</p>
          <span> Lei Nº 8.742 de Dezembro de 1993</span>
          <button class="btn-secundario">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-block alinha-card">
          <img class="img-fluid"  src="./assets/img/icones/Icones_Tela_1_Legislação_2.png">
          <p class="text-blue"> LEI FEDERAL</p>
          <span> Lei Nº 8.742 de Dezembro de 1993</span>
          <button class="btn-secundario">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-block alinha-card">
          <img class="img-fluid" src="./assets/img/icones/Icones_Tela_1_Legislação_2.png">
          <p class="text-blue"> LEI FEDERAL</p>
          <span> Lei Nº 8.742 de Dezembro de 1993</span>
          <button class="btn-secundario">Acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>
