<div class="container-fluid" style="background-color: #fafafa">
  <div class="row">

    <div class="row t-padding">
      <span class="titulo">Busca no Observatório SUAS</span>
    </div>

  </div>
  <div class="row">
    <div class="card">
      <div class="card-block">
        <h2>Buscador</h2>
        <input class="field" id="_mprjbusca_WAR_mprjbuscaportlet_exibicao_param" name="_mprjbusca_WAR_mprjbuscaportlet_exibicao_param" type="hidden" value="card">
        <input class="field" id="_mprjbusca_WAR_mprjbuscaportlet_folder_param" name="_mprjbusca_WAR_mprjbuscaportlet_folder_param" type="hidden" value="">
        <input class="field" id="_mprjbusca_WAR_mprjbuscaportlet_keywords_param" name="_mprjbusca_WAR_mprjbuscaportlet_keywords_param" title="keywords_param" type="text" value="" style="height: 28px; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;" onfocus="removeLabel()">

        <select class="aui-field-select" id="_mprjbusca_WAR_mprjbuscaportlet_filtro_param" name="_mprjbusca_WAR_mprjbuscaportlet_filtro_param" title="filtro_param" style="height: 38px !important; margin-right: 10px; border-radius: 0 !important; border-color: #A9A9A9; box-shadow: none;">
          <option class="" value="todos"> Todas as Categorias </option>
          <option class="" value="legislacao"> Legislação </option>
          <option class="" value="orcamentos"> Orçamentos </option>
        </select>
        <button class="btn btn-primary" id="_mprjbusca_WAR_mprjbuscaportlet_buscar" type="submit"> Buscar </button>
      </div>
    </div>
  </div>
</div>
