
//BEGIN SWITCH

.button-switch {
  position: relative;
  display: inline-block;
}

.button-switch input {display:none;}

.slider {
  width: 8vw;
  height: 3.5rem;
  padding: 0 20px;
  padding-left: inherit;
  display: block;
  cursor: pointer;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

span.slider:hover {
  color: white;
  background-color: #057fb2;
  border-color: #057fb2;

    .vt-blue{
      color:white;
    }
}

input:checked + .slider {
  color: white;
  background-color: #057fb2;
  border-color: #057fb2;

  .vt-blue{
    color:white;
  }
}

//END SWITCH

.scrollEquipamentos{
  max-height: 17rem;
  overflow-y: scroll;
  }

.img-fluid{
  min-width: 2.7rem;
}
.img-fluid2 {
  width:2.8rem;
  padding-top: 1vw;
}
div.col-md-4{
  padding-left: 0;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2.9rem;
}

.dimensao {
  font-family: 'Roboto-Condensed';
  font-size: 13rem;
  line-height: 90%;
  font-weight: bold;
  margin-top: 4%;
}

.pesoHeader {
  font-family: 'Roboto-Condensed';
  font-size: 100%;
  font-weight: bold;
  line-height: 90%;
}

.pesoValor {
  font-family: 'Roboto-Condensed';
  font-size: 340%;
  line-height: 90%;
  font-weight: normal;
  color: rgb(5, 127, 178);
  right: 2%;
}
.btn-group-lg{
  padding-bottom: 2%;
  align-self: center !important;
}
.border-equipamento1{
  border-right: 1px solid #2e3a48;
}
.info {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  line-height: 95%;
}

.barra {
  border-right: 1px solid #2e3a48;
}
.border-equipamento {
  border-right: 1px solid #2e3a48;
}
.p-2{
  font-size: .9rem;
  padding: 0!important;
}
.padding_equipamentos{
  padding-right: 12px;
  padding-bottom: 2px
}
.barraH {
  border-bottom: 1px solid #2e3a48;
}

hr {
  border-style: dotted;
  border-color: #2e3a48;
  width: 90%;
  padding-top: 2%;
  position: inherit;
  bottom: 1%;
}
.col-6{
  max-width:none!important; ;
}
:host/deep/{
  canvas{
    width: 3vw!important;
    height: 3vw !important;
    padding-top: 0.5vw!important;
  }

}

@media(max-width:799px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  img.img-responsive { width:80%;}
  div.scroll { height: 8rem; width:100%;display: inline-block;}

  .container-fluid .testimonial-group {
    overflow-x: auto;
    white-space: nowrap;
  }
  .container-fluid.testimonial-group.col-xs-4{
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  max-width: 100%;
}

.logo {
  position: fixed;
  top: 40%;
  left: 40%;
  cursor: pointer;
}

.nome-eq{
  color: rgb(5, 127, 178);
  font-family: 'Roboto-Condensed';
  font-size: .9rem;
  line-height: 90%;
  font-weight: bold;
  margin-top: 4%;
  padding-left: 1rem;
}

.card{
  color: inherit;
  overflow:auto;
  margin-top: 1rem;

  background-color: #FFFFFF;
  padding: 0!important;
}
.card-block{
  height: 100%;
  padding: 1.7rem;
}

p{
  padding-right: none;
  padding-left: 1rem;
  line-height: initial;
  padding-top: 5px;
  font-family: Roboto-Condensed;
  text-align: right;
}

.p-text{
  font-family: Roboto-Condensed-Light;
  text-align: left;
  padding-right:0;
  font-size: .696rem;
  min-width: 6.2rem;






}
.text-min{
  font-size: .8rem;
  font-family: Roboto-Condensed-Light;
  text-align: left;
  padding-right: .5rem;
}
.keyword1{
  @extend .keyword;
  white-space: nowrap;

}
.header{
  @extend .h-text;
  padding: 0 0 !important;
  margin-bottom: 0;
  padding-left: 1.0rem!important;
  text-transform: uppercase;
}
.nome-pessoal{
  color: rgb(5, 127, 178);
  font-family: 'Roboto-Condensed';
  font-size: 1.2vw;
}
.span{
  height: 0.1rem;
}
.keyword{
  font-family: 'Roboto-Condensed';
  font-size: .965rem;
  text-transform: uppercase;
}

.numero-destacado{
  @extend .nome-pessoal;
  font-size: 1rem;
  font-weight: bold;
}

.valor-tabela{
  font-size: 1rem;
  padding-left: 1rem;
  font-family: Roboto-Condensed;
  text-align: right;
}

.vt-porcentagem{
  @extend .valor-tabela;
  color: #006600;
  font-family: Roboto-Condensed-Light;
}
.porcentagem-chart{
  @extend .vt-porcentagem;
  text-transform: none;
  color: #660000;
}

.vt-bold{
  @extend .valor-tabela;
  font-weight: bold;
}

.vt-black{
  @extend .vt-bold;
  text-align: right;
  vertical-align: middle;
}

.vt-green{
  @extend .vt-black;
  color: #006600;
}

.vt-red{
  @extend .vt-black;
  color: #660000;
}

.vt-blue{
  @extend .vt-bold;//Diferente dos outros VTs
  color: rgb(5, 127, 178);
}
.hw1{
  font-size: .9em;
  font-family: Roboto-Condensed;
}
.h-text{
  font-size: 1.14vw;
  font-family: Roboto-Condensed;
}
.pw-3{
  font-size: 0.56vw;
  text-align: center;
  text-transform: uppercase;
}

@media(min-width:1200px) {
  .keyword{
    font-size: .8em;
  }
  .subtitulo{
    font-size: .90vw;
    white-space: nowrap;
    display: table;
 }
  .text-min {
    font-size-adjust: inherit;
  }

}
@media (max-width: 991px) {
  .titulo{
  font-size: 1.3em;
  }
  .subtitulo{
    display:initial;
    padding-left: 0rem;

  }

  .keyword{
  font-size: .95em;
  }
  .padding-subtitulo{
    padding-left: .8rem
  }
  .text-min{
    font-size: .8rem;
  }
  .nome-pessoal{
    font-size: 1.02em;
  }
  .img-fluid{
    max-width: 60%;
  }
  #img-port{
  padding-left: 1.5em;
  }
  .valor-tabela{
    font-size: .9em;
  }
}
:host/deep/{
  .ui-widget-content{
    background: white;
    border:none ;
  }
  .ui-widget-header{
    background: white;
    border:none ;
  }
}
.nome-eq{
  font-size: .8rem;
}
.pw-3{
  font-size: .5rem;
}

@media(min-width: 577px) and (max-width: 1199px) {
.slider{
  width: 17.4vw;
}
}
@media(max-width:767px){
 .border-equipamento{
    border-bottom:  1px solid #2e3a48;
    border-right: none!important;
  }
  .border-equipamento1{
    border-right: none!important;
  }
  div.col-12{
    margin-bottom: 2rem;
  }
}
@media(min-width:992px){
  .card{
    height: 25rem;
  }
  span:after {
    content: ' ';
    display: block;
  }
  sub:after {
    content: ' ';
    display: block;
  }
}
@media(min-width:768px)and(max-width: 1200px){
  .p-2{
    padding: .7rem!important;
  }
}
@media(max-width: 577px) {
  .slider{
    width: 16.7vw;
  }
  .keyword1{
    white-space: nowrap;
  }
  .keyword{
    font-size: .67rem;
  }
  .vt-blue{
    white-space: nowrap;
    font-size: .9rem;
  }
  .vt-porcentagem{
    white-space: nowrap;
    font-size: .9rem;
  }

}
