
//BEGIN SWITCH

.button-switch {
  position: relative;
  display: inline-block;
}

.button-switch input {display:none;}

.slider {
  width: 8vw;
  height: 3.5rem;
  padding: 0 20px;
  display: block;
  cursor: pointer;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.height-graphic{
  width: auto;
  height: auto;
}

span.slider:hover {
  color: white;
  background-color: #2e3a48;
  border-color: #057fb2;

    .keyword{
      color:white;
    }
  .vt-blue{
    color: white;
  }
}

input:checked + .slider {
  color: white;
  background-color: #057fb2;
  border-color: #057fb2;

  .keyword{
    color: white;
  }
  .vt-blue{
    color: white;
  }
}

//END SWITCH

//button
.btn-group-lg{
  padding-bottom: 2%;
  align-self: center !important;
}

// Images
.img-fluid{
  min-width: 2.7rem;
}
.img-fluid2 {
  width:2.8rem;
  padding-top: 1vw;
}
.logo {
  position: fixed;
  top: 40%;
  left: 40%;
  cursor: pointer;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2.9rem;
}

// Styles bar and border
.padding_equipamentos{
  padding-right: 12px;
  padding-bottom: 2px
}
.border-equipamento1{
  border-right: 1px solid #2e3a48;
}

.border-equipamento {
  border-right: 1px solid #2e3a48;
}
.barra {
  border-right: 1px solid #2e3a48;
}

.barraH {
  border-bottom: 1px solid #2e3a48;
}

//Style Table Indicadores Orcamentarios
hr {
  width: 90%;
  padding-top: 2%;
  position: inherit;
  bottom: 1%;
}

section {
  position: relative;
  padding-top: 37px;
  padding-bottom: .7em;
}

section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
}



table > table {
  border-spacing: 0;
  width:100%;
}

table > td, th {
  padding: 10px 25px;
}

table > th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  //color: transparent;
  border: none;
  white-space: nowrap;
}

th div{
  position: absolute;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
}

table > th:first-child div{
  border: none;
}
div> tbody > tr{
  line-height: 3.1em;
}

// Styles Cards
.card{
  color: inherit;
  overflow:auto;
  margin-top: 1rem;

  background-color: #FFFFFF;
  padding: 0!important;
}
.card-block{
  height: 100%;
  padding: 1.3rem;
}

// Sytles Fonts
.p-2{
  font-size: .9rem;
  padding: 0!important;
  color: #0d2b48;
}
.pesoHeader {
  font-family: 'Roboto-Condensed';
  font-size: 100%;
  font-weight: bold;
  line-height: 90%;
}
.pesoValor {
  font-family: 'Roboto-Condensed';
  font-size: 340%;
  line-height: 90%;
  font-weight: normal;
  color: rgb(5, 127, 178);
  right: 2%;
}
.hw1{
  font-size: 1.683em;
  font-family: 'Raleway';
}

.nome-eq{
  color: rgb(5, 127, 178);
  font-family: 'Raleway';
  font-size: .7rem;
  line-height: 90%;
  font-weight: bold;
  margin-top: 4%;
  padding-left: 1rem;
}


.h-text{
  font-size: 1.14vw;
  font-family: 'Raleway';
}
.pw-3{
  font-size: .5rem;
  text-align: center;
  text-transform: uppercase;

}
p{
  padding-left: .7em;
  line-height: initial;
  padding-top: 5px;
  font-family: 'Raleway';
  text-align: center;
}
.p-text{
  font-family: 'Raleway';
  text-align: left;
  font-size: .66rem;
  min-width: 6.2rem;
}
.text-min{
  font-size: .8rem;
  font-family: 'Roboto-Condensed';
  text-align: left;
  padding-right: .5rem;
  font-weight: 500;
}
.nome-pessoal{
  color: rgb(5, 127, 178);
  font-family: 'Raleway';
  font-size: 1.2vw;
}
.valor-tabela{
  font-size: 1rem;
  padding-left: 1rem;
  font-family: Roboto-Condensed;
  text-align: right;
}
.span{
  height: 0.1rem;
}
.keyword{
  font-family: 'Raleway';
  font-size: .965rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0d2b48;
}
.keyword1{
  @extend .keyword;
  white-space: nowrap;
}
.header{
  @extend .h-text;
  padding: 0 0 ;
  margin-bottom: 0;
  padding-left: 1.0rem;
  text-transform: uppercase;
}
.numero-destacado{
  color: rgb(5, 127, 178);
  font-family: 'Roboto-Condensed';
  font-size: 1rem;
  font-weight: bold;
}
.vt-porcentagem{
  @extend .valor-tabela;
  color: #006600;
  font-family: Roboto-Condensed-Light;
}
.porcentagem-chart{
  @extend .vt-porcentagem;
  text-transform: none;
  color: #660000;
}

.vt-bold{
  @extend .valor-tabela;
  font-weight: bold;
}

.vt-black{
  @extend .vt-bold;
  text-align: right;
  vertical-align: middle;
}

.vt-green{
  @extend .vt-black;
  color: #006600;
}

.vt-red{
  @extend .vt-black;
  color: #660000;
}

.vt-blue{
  @extend .vt-bold;//Diferente dos outros VTs
  color: rgb(5, 127, 178);
}
.height_line{
  line-height: 2.8em;
}

// other styles
:host/deep/{
  .ui-widget-content{
    background: white;
    border:none ;
    height: 15em;
  }
  .ui-widget-header{
    background: white;
    border:none ;
  }
}
:host/deep/{
  canvas{
    width: 3vw !important;
    height: 3vw !important;
    padding-top: 0.5vw;
  }
}

div.col-md-4{
  padding-left: 0;
}

@media(max-width: 576px) {
  .keyword1{
    white-space: nowrap;
    font-size: .4em;
  }

  .vt-blue{
    white-space: nowrap;
    font-size: .9rem;
  }
  .vt-porcentagem{
    white-space: nowrap;
    font-size: .9rem;
  }
  .box-text{
    height: 108px;
  }
  .subtitulo{
    font-size: .85em;
  }

  #total{
    display: none;
  }
}

@media(max-width:767px){
 .border-equipamento{
    border-bottom:  1px solid #2e3a48;
    border-right: none!important;
  }
  .border-equipamento1{
    border-right: none!important;
  }
  div.col-12{
    margin-bottom: 2rem;
  }
  .slider{
    padding: 0px 20px 0px 2px;
  }
  .hw1{
  font-size: 1.483em;
  }

  :host/deep/{
    .ui-widget-content{
      height: inherit;
    }
  }
}
@media(max-width:799px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  img.img-responsive { width:80%;}
  div.scroll { height: 8rem; width:100%;display: inline-block;}

  .container-fluid .testimonial-group {
    overflow-x: auto;
    white-space: nowrap;
  }
  .container-fluid.testimonial-group.col-xs-4{
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  max-width: 100%;
}
@media (max-width: 991px) {
  .titulo{
  font-size: 1.3em;
  }
  .subtitulo{
    display:initial;
    padding-left: 0rem;

  }
  .keyword{
    font-size: .64rem;
  }
  p.keyword{
    font-size: 12px;
    line-height: 1.5em;
  }
  .padding-subtitulo{
    padding-left: .8rem
  }
  .text-min{
    font-size: .8rem;
  }
  .nome-pessoal{
    font-size: 1.02em;
  }
  .img-fluid{
    max-width: 60%;
  }
  #img-port{
  padding-left: 1.5em;
  }
  .valor-tabela{
    font-size: .9em;
  }
  :host/deep/{
  canvas{
    width: 49px !important;
    height: auto !important;
    padding-top: 0.5vw;
  }
}
}

@media(min-width:992px){

  span:after {
    content: ' ';
    display: block;
  }

  sub:after {
    content: ' ';
    display: block;
  }
}

@media (max-width: 1199px) {

  .slider{
    width: 17.2vw;
  }
}
@media(min-width:768px)and(max-width: 1199px){

  .p-2{
    padding: .7rem!important;
  }

}
@media(min-width:1200px) {

  .keyword{
    font-size: .76em;
  }

  .subtitulo{
    display: table;
  }

  .text-min {
    font-size-adjust: inherit;
  }

  .card{
    height: 26.8rem;
  }

  section >.container {
    overflow-y: auto;
    height: 350px;
  }
}
