<!-- MARCOS, DÊ UMA OLHADA EM https://stackoverflow.com/questions/34981971/bootstrap-rowspan-2-for-middle-column -- que tem um layout parecido -->


<div class="container-fluid">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="row t-padding">
        <span class="titulo">Escolha um Município</span>
      </div>
      <span class="subtitulo">
        Um panorama dos dados e indicadores do estado e dos municípios fluminenses.
      </span>
      <br/>
      <span class="subtitulo">
        Para visualizar informações clique no município correspondente no mapa, ou fora do mapa para ver o estado do RJ.
      </span>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-6">
              <img class="barra" style="width: 100%; padding-right: 1rem" src="http://img04.deviantart.net/9308/i/2013/010/8/2/new_official_westeros_map_by_gunnar_santos-d5p22qd.jpg"/>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-lg-7 col-7">
                  <h3 class="hw3">Município</h3>
                  <h1 class="hw1"><b>Porto Real</b></h1>
                  <div class="row">
                    <div class="col-lg-6 col-6">
                      <div class="keyword">População</div>
                      <div class="numero-destacado">2.778</div>
                    </div>
                    <div class="col-lg-6 col-6 ">
                      <div class="keyword">IDH</div>
                      <div class="numero-destacado">0,133</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-5">
                  <img src="./assets/img/municipios/Porto Real.png" style="width: 60%">
                </div>
              </div>
              <div class="row" style="padding-top: 1.5rem">
                <div class="col-lg-2 col-2">
                  <img class="img-fluid" src="./assets/img/mprj_obs.jpg">
                </div>
                <div class="col-lg-10 col-10">
                  <div class="keyword">Prefeito</div>
                  <div class="nome-pessoal">Cersei Lannister</div>
                </div>
              </div>
              <div class="row" style="padding-top: 1.5rem">
                <div class="col-lg-2 col-2">
                  <img class="img-fluid" src="./assets/img/mao-obs.jpg">
                </div>
                <div class="col-lg-10 col-10">
                  <div class="keyword">Secretário de Assistência Social</div>
                  <div class="nome-pessoal">Qyburn</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xs-12">
     <div class="row t-padding">
      <span class="titulo">Equipamentos</span>
     </div>
      <span class="subtitulo">Clique em um tipo de equipamento para visualizar a relação de estabelecimento</span>
      <br/>
      <span class="subtitulo"> e seus endereços.</span>
      <div class="card">
        <div class="card-block">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword">TOTAL</div>
            <div class="vt-blue">5</div>
          </div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword">% DO ESTADO</div>
            <div class="valor-tabela">0,86%</div>
          </div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword">CRAS</div>
            <div class="vt-blue">4</div>
          </div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword">CREAS</div>
            <div class="vt-blue">1</div>
          </div>
          <div class="col-2" style="border-top: 1px solid #2e3a48">
            <div  class="keyword">CENTRO POP</div>
            <div class="vt-blue">0</div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="container-fluid testimonial-group">
        <div class="row scrollEquipamentos">
          <div class="col-lg-6 col-xs-4 barra barraH" style="height: 8.5rem">
            <div class="row">
              <div class="col-md-2"style="padding-top: .6rem">
                <img class="img-fluid" src="./assets/img/mprj_obs.jpg">
                <div class="pw-3" >Porte Grande</div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="nome-eq">CRAS - CENTRO</div>
                </div>
                <div class="row">
                  <p>Rua jose ferreira aguiar(Antiga rua ana Nery),128 - Centro - Barra do Pirai</p>
                  <p><img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 27.123-150 <img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 24 2443-1087</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-4 barraH" style="height: 8.5rem">
            <div class="row">
              <div class="col-md-2 " style="padding-top: .6rem">
                <img class="img-fluid" src="./assets/img/mprj_obs.jpg">
                <div class="pw-3" >Porte Grande</div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="nome-eq">CRAS - CENTRO</div>
                </div>
                <div class="row">
                  <p>Rua jose ferreira aguiar(Antiga rua ana Nery),128 - Centro - Barra do Pirai</p>
                  <p><img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 27.123-150 <img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 24 2443-1087</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-4 barra barraH" style="height: 8.5rem">
            <div class="row">
              <div class="col-md-2" style="padding-top: .6rem">
                <img class="img-fluid" src="./assets/img/mprj_obs.jpg" >
                <div class="pw-3" >Porte Grande</div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="nome-eq">CRAS - CENTRO</div>
                </div>
                <div class="row">
                  <p>Rua jose ferreira aguiar(Antiga rua ana Nery),128 - Centro - Barra do Pirai</p>
                  <p><img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 27.123-150 <img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 24 2443-1087</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-4 barraH" style="height: 8.5rem">
            <div class="row">
              <div class="col-md-2" style="padding-top:.6rem">
                <img class="img-fluid" src="./assets/img/mprj_obs.jpg">
                <div class="pw-3" >Porte Grande</div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="nome-eq">CRAS - CENTRO</div>
                </div>
                <div class="row">
                  <p>Rua jose ferreira aguiar(Antiga rua ana Nery),128 - Centro - Barra do Pirai</p>
                  <p><img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 27.123-150 <img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 24 2443-1087</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-4 barra" style="height: 8.5rem">
            <div class="row">
              <div class="col-md-2" style="padding-top: .6rem">
                <img class="img-fluid" src="./assets/img/mprj_obs.jpg">
                <div class="pw-3" >Porte Grande</div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="nome-eq">CRAS - CENTRO</div>
                </div>
                <div class="row">
                  <p>Rua jose ferreira aguiar(Antiga rua ana Nery),128 - Centro - Barra do Pirai</p>
                  <p><img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 27.123-150 <img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 24 2443-1087</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-4">
          <div class="row">
            <div class="col-md-2" style="padding-top: .6rem">
              <img class="img-fluid" src="./assets/img/mprj_obs.jpg">
              <div class="pw-3" >Porte Grande</div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="nome-eq">CRAS - CENTRO</div>
              </div>
              <div class="row">
                <p>Rua jose ferreira aguiar(Antiga rua ana Nery),128 - Centro - Barra do Pirai</p>
                <p><img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 27.123-150 <img class="img-fluid2" style="width:1rem" src="https://image.freepik.com/icones-gratis/tridimensional-em-predio_318-41308.jpg"> 24 2443-1087</p>
              </div>
            </div>
          </div>
        </div>

              </div>
            </div>

        </div>
      </div>

    </div>
  </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="row t-padding">
          <span class="titulo">Indicadores Sociais</span>
        </div>
        <span class="subtitulo">Indicadores sociais do ente escolhido</span>
        <div class="card">
          <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="table col-lg-8">
                <tbody>
                <tr>
                  <td class="barraH" width="10%"><img class="img-fluid3" src="./assets/img/mprj_obs.jpg" align="left"></td>
                  <td class=" barraH"width="40%">
                    <p class="keyword" style="text-align: left">Familias vulneráveis</p>
                    <div class="vt-bold">9.014</div>
                  </td>
                  <td class=" barraH"width="30%">
                    <p class="keyword"> % da população</p>
                    <div class="valor-tabela">9,89%</div>
                  </td>
                  <td class="barraH barra"width="20%">
                    <p class="keyword"> % do estado</p>
                    <div class="valor-tabela">0,63%</div>
                  </td>
                </tr>
                <tr>
                  <td class="barraH"><img class="img-fluid3" src="./assets/img/mprj_obs.jpg" align="left"></td>
                  <td class="barraH">
                    <p class="keyword">Bolsa família</p>
                    <div class="vt-bold">4.204</div>
                  </td>
                  <td class="barraH">
                    <p class="keyword"> % da população</p>
                    <div class="valor-tabela">15,28%</div>
                  </td>
                  <td class="barraH barra" >
                    <p class="keyword"> cobertura</p>
                    <div class="valor-tabela">78,51%</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <img class="img-fluid2" src="./assets/img/mprj_obs.jpg" align="left" >
                    <p class="keyword">Famílias registradas no cadastro único</p>
                    <div class="vt-bold">7.753</div>
                  </td>
                  <td class="barra" colspan="2">
                    <img class="img-fluid2" src="./assets/img/mprj_obs.jpg" align="left">
                    <p class="keyword"> Beneficiários de prestação continuada</p>
                    <div class="vt-bold">1.624</div>
                  </td>
                </tbody>
            </div>
            <div class=" col-lg-4">
              <div class="row">
                <div class="col-lg-2">
                  <img class="img-fluid" src="./assets/img/mao-obs.jpg">
                </div>
                <div class="col-lg-8">
                  <h3 class="p-2">Beneficios eventuais</h3>
                  <p class="pw-1">Indica se programas eventuais de benefícios são disponibilizados para o ente</p>
                </div>
                <div class="col-lg-2">
                  <img  src="./assets/img/certo-obs.jpg" width="20vw">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <img class="img-fluid" src="./assets/img/mao-obs.jpg">
                </div>
                <div class="col-lg-8">
                  <h3 class="p-2">PAIF</h3>
                  <p class="pw-1">Indica se o serviço de proteção a atenção integral à família está implantado no ente </p>
                </div>
                <div class="col-lg-2">
                  <img  src="./assets/img/certo-obs.jpg" width="20vw">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <img class="img-fluid" src="./assets/img/mao-obs.jpg">
                </div>
                <div class="col-lg-8">
                  <h3 class="p-2">PAEF</h3>
                  <p class="pw-1">Indica se o serviço de proteção e atenção especializado à família está implantado no ente </p>
                </div>
                <div class="col-lg-2">
                  <img  src="./assets/img/certo-obs.jpg" width="20vw">
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    <div class="col-lg-6 col-xs-12">
      <div class="row t-padding">
        <span class="titulo">Indicadores orçamentários</span>
      </div>
      <span class="subtitulo">Indicadores orçamentários de programas no ente escolhido.</span>
      <div class="card">
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th></th>
              <th class="barra keyword" style="text-align: right">PSE</th>
              <th class="barra keyword" style="text-align: right">PSB</th>
              <th class="keyword" style="text-align: right">Outros Programas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="barraH keyword" scope="row" style="text-align: right">Recursos</th>
              <td class="barra barraH vt-black">146.835,10</td>
              <td class="barra barraH vt-black">271.200,00</td>
              <td class="barraH vt-black">300,00</td>
            </tr>
            <tr>
              <th class="barraH keyword" scope="row" style="text-align: right">Utilizado</th>
              <td class="barra barraH vt-green">38.334,04</td>
              <td class="barra barraH vt-green">24.000,00</td>
              <td class="barraH vt-green">300,00
              </td>
            </tr>
            <tr>
              <th scope="row" class="keyword" style="text-align: right"> Não utilizado<br/>(bloqueio ou omissão)</th>
              <td class="barra vt-red">108.501,06

                <div style="width: 125px; height:125px ">
                  <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
                </div>

              </td>
              <td class="barra vt-red">247.200,00

                <div style="width: 125px; height:125px ">
                  <p-chart type="doughnut"  [data]="data2" [options]="options"></p-chart>
                </div>

              </td>
              <td class="vt-red">0,00

                <div style="width: 125px; height:125px ">
                  <p-chart type="doughnut"  [data]="data3" [options]="options"></p-chart>
                </div>

              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

