<div class="container-fluid" style="background-color: #fafafa">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="row t-padding">
        <span class="titulo">Escolha um Município</span>
      </div>
      <span class="subtitulo">
        Um panorama dos dados e indicadores do estado e dos municípios fluminenses.
      </span>
      <br/>
      <span class="subtitulo">
        Para visualizar informações clique no município correspondente no mapa, ou fora do mapa para ver o estado do RJ.
      </span>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-6">
              <mp-mapa-interativo class="barra" style="width: 100%; padding-right: 1rem" estado = "rj" [preSelecionados] = "[municipio]" selectedRedirection = "dados-e-indicadores/#{nomeMunicipio}"></mp-mapa-interativo>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-lg-7 col-7">
                  <h3 class="hw3">Município</h3>
                  <h1 class="hw1"><b>{{municipio}}</b></h1>
                  <div class="row">
                    <div class="col-lg-6 col-6">
                      <div class="keyword">População</div>
                      <div class="numero-destacado">{{formataInteiro(populacao.populacao)}}</div>
                    </div>
                    <div class="col-lg-6 col-6 ">
                      <div class="keyword">IDH</div>
                      <div class="numero-destacado">{{formataFracao(idh.idh)}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-5">
                  <img src="./assets/img/municipios/{{municipio}}.png" style="width: 60%">
                </div>
              </div>
              <div class="row" style="padding-top: 1.5rem">
                <div class="col-lg-2 col-2">
                  <img class="img-fluid" src="./assets/img/icones/ícones_Tela_2_Município.png">
                </div>
                <div class="col-lg-10 col-10">
                  <div class="keyword">Prefeito</div>
                  <div class="nome-pessoal">{{indicadoresSociaisDoMunicipio.prefeito}}</div>
                </div>
              </div>
              <div class="row" style="padding-top: 1.5rem">
                <div class="col-lg-2 col-2">
                  <img class="img-fluid" src="./assets/img/icones/ícones_Tela_2_Bolsa_Familia_2.png">
                </div>
                <div class="col-lg-10 col-10">
                  <div class="keyword">Secretário de Assistência Social</div>
                  <div class="nome-pessoal">{{indicadoresSociaisDoMunicipio.secretarioAssistenciaSocial}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xs-12">
     <div class="row t-padding">
      <span class="titulo">Equipamentos</span>
     </div>
      <span class="subtitulo">Clique em um tipo de equipamento para visualizar a relação de estabelecimento</span>
      <br/>
      <span class="subtitulo"> e seus endereços.</span>
      <div class="card">
        <div class="card-block">
        <div class="row" style="padding-bottom: 2vw">
          <div class="col-1"></div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword" style="text-align: right">TOTAL</div>
            <div class="vt-blue">{{contagemEquipamentos}}</div>
          </div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword" style="text-align: right">% DO ESTADO</div>
            <div class="vt-porcentagem">{{formataPercent(totalEquipamentosEstado, contagemEquipamentos)}}</div>
          </div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword" style="text-align: right">CRAS</div>
            <div class="vt-blue">{{contagemCRAS}}</div>
          </div>
          <div class="col-2 barra" style="border-top: 1px solid #2e3a48">
            <div  class="keyword" style="text-align: right">CREAS</div>
            <div class="vt-blue">{{contagemCREAS}}</div>
          </div>
          <div class="col-2" style="border-top: 1px solid #2e3a48">
            <div  class="keyword" style="text-align: right">CENTRO POP</div>
            <div class="vt-blue">{{contagemCentrosPOP}}</div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="container-fluid testimonial-group">
        <div class="row scrollEquipamentos">

          <div *ngFor="let equipamento of equipamentos; let isEven = even" class="col-lg-6 col-xs-4 barraH" [ngClass]="{barra: isEven}" style="height: 8.5rem">
            <div class="row">
              <div class="col-md-3"style="padding-top: .6rem">
                <img class="img-fluid" src="./assets/img/icones/ícones_Tela_2_CRAS.png">
                <div class="pw-3" >Porte {{equipamento.porte}}</div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="nome-eq">{{equipamento.nome}}</div>
                </div>
                <div class="row">
                  <p class="text-min">{{equipamento.endereco}}</p>
                  <p class="text-min"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{equipamento.cep}} <i class="fa fa-phone" aria-hidden="true"></i> {{equipamento.telefone}}</p>
                </div>
              </div>
            </div>
          </div>


              </div>
            </div>

        </div>
      </div>

    </div>
  </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="row t-padding">
          <span class="titulo">Indicadores Sociais</span>
        </div>
        <span class="subtitulo">Indicadores sociais do ente escolhido</span>
        <div class="card">
          <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="col-xl-8">
                <tbody>
                <tr>
                  <td class="barraH" width="10%"><img class="img-fluid2" src="./assets/img/icones/ícones_Tela_2_Bolsa_Familia.png" align="left"></td>
                  <td class=" barraH"width="35%">
                    <p class="keyword">Familias vulneráveis <i class="fa fa-info-circle"></i></p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nFamiliasVulneraveis}}</div>
                  </td>
                  <td class=" barraH"width="30%">
                    <p class="keyword"> % da população <i class="fa fa-info-circle"></i></p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasVulneraveisMunicipio}}%</div>
                  </td>
                  <td class="barraH barra"style="padding-right: 3%" width="25%">
                    <p class="keyword"> % do estado <i class="fa fa-info-circle"></i></p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasVulneraveisEstado}}%</div>
                  </td>
                </tr>
                <tr>
                  <td class="barraH"><img class="img-fluid2" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left"></td>
                  <td class="barraH">
                    <p class="keyword">Bolsa família <i class="fa fa-info-circle"></i></p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nFamiliasBolsaFamilia}}</div>
                  </td>
                  <td class="barraH">
                    <p class="keyword"> % da população <i class="fa fa-info-circle"></i></p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasBolsaFamiliaMunicipio}}%</div>
                  </td>
                  <td class="barraH barra"></td>

                </tr>
                <tr>
                  <td colspan="2" class="barraH">
                    <img class="img-fluid2" src="./assets/img/icones/ícones_Tela_2_Cadsastro_Unico_3.png" align="left" >
                    <p class="keyword">Famílias registradas no cadastro único <i class="fa fa-info-circle"></i></p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nFamiliasCadastroUnico}}</div>
                  </td>
                  <td class="barraH"style="padding-right: 3%" >
                    <p class="keyword">% cobertura <i class="fa fa-info-circle"></i></p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasBolsaFamiliaCobertura}}%</div>
                  </td>
                  <td class="barra barraH">
                  </td>
                </tr>
                <tr>
                  <td  colspan="2">
                    <img class="img-fluid2" src="./assets/img/icones/Icones_Tela_1_Desenvolvimento_Social.png" align="left">
                    <p class="keyword"> Beneficiários de prestação continuada <i class="fa fa-info-circle"></i></p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nBeneficiariosPrestacaoContinuada}}</div>
                  </td>
                  <td></td>
                  <td class="barra"></td>
                </tr>
                </tbody>
            </div>
            <div class=" col-xl-4 col-lg-12 col-md-12">
              <tr>
                <td>
                  <img class="img-fluid" src="./assets/img/icones/beneficios-programas.png">
                </td>
                <td >
                  <h3 class="p-2">Benefícios eventuais</h3>
                  <p class="p-text">Indica se Programas Eventuais de Benefícios são disponibilizados para o ente</p>
                </td>
                <td>
                  <img  [src]="'./assets/img/icones/check-'+(indicadoresSociaisDoMunicipio.cadUnicoBeneficiosEventuais?'sim':'nao')+'.png'" width="50vw">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-fluid" src="./assets/img/icones/beneficios-programas.png">
                </td>
                <td>
                  <h3 class="p-2">PAIF</h3>
                  <p class="p-text">Indica se o serviço de Proteção e Atenção Integral à Família está implantado no ente </p>
                </td>
                <td>
                  <img  [src]="'./assets/img/icones/check-'+(indicadoresSociaisDoMunicipio.cadUnicoPAIF?'sim':'nao')+'.png'" width="50vw">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-fluid" src="./assets/img/icones/beneficios-programas.png">
                </td>
                <td>
                  <h3 class="p-2">PAEF</h3>
                  <p class="p-text">Indica se o serviço de Proteção e Atenção Especializado à Família está implantado no ente </p>
                </td>
                <td>
                  <img  [src]="'./assets/img/icones/check-'+(indicadoresSociaisDoMunicipio.cadUnicoPAEF?'sim':'nao')+'.png'" width="50vw">
                </td>
              </tr>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    <div class="col-lg-6 col-xs-12">
      <div class="row t-padding">
        <span class="titulo">Indicadores orçamentários</span>
      </div>
      <span class="subtitulo">Indicadores orçamentários de programas no ente escolhido. <i class="fa fa-info-circle" title="Valores referentes ao ano X"></i></span>
      <div class="card">
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th></th>
              <th class="barra keyword" style="text-align: right">PSE</th>
              <th class="barra keyword" style="text-align: right">PSB</th>
              <th class="keyword" style="text-align: right">Outros Programas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="barraH keyword" scope="row" style="text-align: right">Recursos</th>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.pseTotal)}}</td>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.psbTotal)}}</td>
              <td class="barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
            </tr>
            <tr>
              <th class="barraH keyword" scope="row" style="text-align: right">Utilizado</th>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.pseUtilizado)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.psbUtilizado)}}</td>
              <td class="barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
            </tr>
            <tr>
              <th scope="row" class="keyword" style="text-align: right"> Não utilizado<br/>(bloqueio ou omissão)</th>
              <td class="barra vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.pseNaoUtilizado)}}

                <div style="width: 6vw; height:6vw; padding-top: 1.5vw">
                  <p-chart type="doughnut" [data]="graficoPSE" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.pseTotal, indicadoresOrcamentariosDoMunicipio.pseNaoUtilizado)}}</div>

              </td>
              <td class="barra vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.psbNaoUtilizado)}}

                <div style="width: 6vw; height:6vw; padding-top: 1.5vw">
                  <p-chart type="doughnut"  [data]="graficoPSB" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.psbTotal, indicadoresOrcamentariosDoMunicipio.psbNaoUtilizado)}}</div>

              </td>
              <td class="vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}

                <div style="width: 6vw; height:6vw; padding-top: 1.5vw">
                  <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

