<div class="container-fluid" style="background-color: #fafafa; ">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-12 ">
      <div class="row t-padding">
        <span class="titulo">Escolha um Município</span>
      </div>
      <div class="padding-subtitulo">
        <span class="subtitulo">
        Um panorama dos dados e indicadores do estado e dos municípios fluminenses.
        </span>
        <span class="subtitulo">
        Para visualizar informações clique no município correspondente no mapa, ou fora do mapa para ver o estado do RJ.
        </span>
      </div>

      <div class="row">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h3 class="hw3" *ngIf="estadoSelected">Estado</h3>
              <h3 class="hw3" *ngIf="estadoSelected===false">Município</h3>
              <mp-mapa-interativo style="width: 100%; " estado = {{estadoId}} [dropdown] = "true" [preSelecionados] = "[municipio]" selectedRedirection = "dados-e-indicadores/#{nomeElemento}"></mp-mapa-interativo>
            </div>


              <div class="col-lg-6 col-md-11" *ngIf="estadoSelected===false">
                <div class="row">
                  <div class="col-11">
                    <img src="./assets/img/municipios/{{municipio}}.png" style="width:3.2em; float: right;">
                  </div>
                </div>
                <div class="row" style="padding-top: 1.5rem">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-5">
                        <div class="keyword1">População</div>
                        <div class="numero-destacado">{{formataInteiro(populacao.populacao)}}</div>
                      </div>
                      <div class="col-4 ">
                        <div class="keyword1">IDH</div>
                        <div class="numero-destacado">{{formataFracao(idh.idh)}}</div>
                      </div>
                      <div class="col-3 ">
                        <div class="keyword1">IDC</div>
                        <div class="numero-destacado"> - </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top: 1.5rem">
                  <div class="col-2">
                    <img class="img-fluid" src="./assets/img/icones/prefeito_70px.png">
                  </div>
                  <div class="col-10">
                    <div class="keyword">Prefeito</div>
                    <div class="nome-pessoal">{{indicadoresSociaisDoMunicipio.prefeito}}</div>
                  </div>
                </div>
                <div class="row" style="padding-top: 1.5rem">
                  <div class="col-2">
                    <img class="img-fluid" src="./assets/img/icones/secretario_assistencia_social_70px.png">
                  </div>
                  <div class="col-10">
                    <div class="keyword">Secretário de Assistência Social</div>
                    <div class="nome-pessoal">{{indicadoresSociaisDoMunicipio.secretarioAssistenciaSocial}}</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12" *ngIf="estadoSelected">
                <div class="row">
                  <div class="col-12">
                    <div class="col-4"  style="float: right">
                      <img src="./assets/img/municipios/{{municipio}}.png" style="width: 105%">
                    </div>
                  </div>
                </div>

                <div class="row" style="padding-top: 2rem">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-5">
                        <div class="keyword1">População</div>
                        <div class="numero-destacado">{{formataInteiro(populacao.populacao)}}</div>
                      </div>
                      <div class="col-3 ">
                        <div class="keyword1">IDH</div>
                        <div class="numero-destacado">{{formataFracao(idh.idh)}}</div>
                      </div>
                      <div class="col-3 ">
                        <div class="keyword1">IDC</div>
                        <div class="numero-destacado"> -</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top: 1.5rem">
                  <div class="col-2">
                    <img class="img-fluid" src="./assets/img/icones/ícones_Tela_2_Município.png">
                  </div>
                  <div class="col-10">
                    <div class="keyword">Governador</div>
                    <div class="nome-pessoal">{{indicadoresSociaisDoMunicipio.prefeito}}</div>
                  </div>
                </div>
                <div class="row" style="padding-top: 1.5rem">
                  <div class="col-2">
                    <img class="img-fluid" src="./assets/img/icones/secretario_assistencia_social_70px.png">
                  </div>
                  <div class="col-10">
                    <div class="keyword">Secretário de Estado de Ciência, Tecnologia e Desenvolvimento Social</div>
                    <div class="nome-pessoal">{{indicadoresSociaisDoMunicipio.secretarioAssistenciaSocial}}</div>
                  </div>
                </div>
              </div>


          </div>
        </div>
      </div></div>
    </div>

    <div class="col-xl-6 col-lg-12 ">
     <div class="row t-padding">
      <span class="titulo">Equipamentos</span>
     </div>
      <div class="padding-subtitulo">
        <sub class="subtitulo">Clique em um tipo de equipamento para visualizar a relação de estabelecimento </sub>
        <sub class="subtitulo"> e seus endereços.</sub>
      </div>
      <div class="row">
      <div class="card">
        <div class="card-block">
          <div class="row" style="padding-bottom: .8vw">
           <label class="button-switch barra"  style="margin-left:auto; border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" checked="checked" (click)="selectTipo('total')" id="check1">
              <span class="slider">
                <div  class="keyword1" style="text-align: right">TOTAL</div>
                <div class="vt-blue">{{contagemEquipamentos}}</div>
              </span>
            </label>
            <label class="button-switch barra" style="border-top: 1px solid #2e3a48">
              <!--<input type="radio" name="radio" (click)="selectTipo(2)" id="check2">-->
              <div class="slider">
                <div  class="keyword1" style="text-align: right">% DO ESTADO</div>
                <div class="vt-porcentagem">{{formataPercent(totalEquipamentosEstado, contagemEquipamentos)}}</div>
              </div>
            </label>
            <label class="button-switch barra" style="border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" (click)="selectTipo('cras')" id="check3">
              <span class="slider">
                <div  class="keyword1" style="text-align: right">CRAS</div>
                <div class="vt-blue">{{contagemCRAS}}</div>
              </span>
            </label>
            <label class="button-switch barra" style="border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" (click)="selectTipo('creas')" id="check4">
              <span class="slider">
                <div  class="keyword1" style="text-align: right">CREAS</div>
                <div class="vt-blue">{{contagemCREAS}}</div>
              </span>
            </label>
            <label class="button-switch" style="margin-right:auto; border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" (click)="selectTipo('centroPop')" id="check5">
              <span class="slider">
                <div  class="keyword1" style="text-align: right">CENTRO POP</div>
                <div class="vt-blue">{{contagemCentrosPOP}}</div>
              </span>
            </label>
          </div>

          <p-dataGrid [value]="equipamentos" [paginator]="true" paginatorPosition = "bottom" [rows]="4"  emptyMessage="Esse Município não possui nenhum {{equipamentoSelecionado}}">
            <ng-template let-equipamento pTemplate="item" let-i="index";>
              <div *ngIf="i%4 == 0" class="col-md-6 col-sm-12 barraH border-equipamento padding_equipamentos">
                <div class="row">
                  <div class="col-3"style="padding-top: .6rem">
                    <img class="center" src="./assets/img/icones/{{equipamento.tipo}}_{{equipamento.porte}}_70px.png">
                    <div class="pw-3" >Porte {{equipamento.porte}}</div>
                  </div>
                  <div class=" col-9">
                    <div class="row">
                      <div class="nome-eq">{{equipamento.nome}}</div>
                    </div>
                    <div class="row">
                      <p class="text-min">{{equipamento.endereco}}</p>
                      <p class="text-min"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{equipamento.cep}} <i class="fa fa-phone" aria-hidden="true"></i> {{equipamento.telefone}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="i%4 == 1" class="col-md-6 col-sm-12 barraH padding_equipamentos" >
                <div class="row">
                  <div class="col-3"style="padding-top: .6rem">
                    <img class="center" src="./assets/img/icones/{{equipamento.tipo}}_{{equipamento.porte}}_70px.png">
                    <div class="pw-3" >Porte {{equipamento.porte}}</div>
                  </div>
                  <div class=" col-9">
                    <div class="row">
                      <div class="nome-eq">{{equipamento.nome}}</div>
                    </div>
                    <div class="row">
                      <p class="text-min">{{equipamento.endereco}}</p>
                      <p class="text-min"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{equipamento.cep}} <i class="fa fa-phone" aria-hidden="true"></i> {{equipamento.telefone}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="i%4 == 2" class="col-md-6 col-sm-12 border-equipamento padding_equipamentos" >
                <div class="row">
                  <div class="col-3"style="padding-top: .6rem">
                    <img class="center" src="./assets/img/icones/{{equipamento.tipo}}_{{equipamento.porte}}_70px.png">
                    <div class="pw-3" >Porte {{equipamento.porte}}</div>
                  </div>
                  <div class=" col-9">
                    <div class="row">
                      <div class="nome-eq">{{equipamento.nome}}</div>
                    </div>
                    <div class="row">
                      <p class="text-min">{{equipamento.endereco}}</p>
                      <p class="text-min"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{equipamento.cep}} <i class="fa fa-phone" aria-hidden="true"></i> {{equipamento.telefone}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="i%4 == 3" class="col-md-6 col-sm-12 padding_equipamentos" >
                <div class="row">
                  <div class="col-3"style="padding-top: .6rem">
                    <img class="center" src="./assets/img/icones/{{equipamento.tipo}}_{{equipamento.porte}}_70px.png">
                    <div class="pw-3" >Porte {{equipamento.porte}}</div>
                  </div>
                  <div class=" col-9">
                    <div class="row">
                      <div class="nome-eq">{{equipamento.nome}}</div>
                    </div>
                    <div class="row">
                      <p class="text-min">{{equipamento.endereco}}</p>
                      <p class="text-min"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{equipamento.cep}} <i class="fa fa-phone" aria-hidden="true"></i> {{equipamento.telefone}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataGrid>

      </div>
    </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div class="row t-padding">
          <span class="titulo">Indicadores Sociais</span>
        </div>
        <div class="padding-subtitulo">
          <span class="subtitulo">Indicadores sociais do ente escolhido</span>
        </div>
        <div class="card">
          <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-12">
                <tbody>
                <tr>
                  <td class="barraH" width="10%"><img class="img-fluid2" src="./assets/img/icones/familias_vulneraveis_70px.png" align="left"></td>
                  <td class=" barraH"width="35%">
                    <p class="keyword">Familias vulneráveis</p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nFamiliasVulneraveis}}</div>
                  </td>
                  <td class=" barraH"width="30%">
                    <p class="keyword" *ngIf="estadoSelected===false"> % da população do municipio</p>
                    <div class="vt-porcentagem" *ngIf="estadoSelected===false">{{indicadoresSociaisDoMunicipio.pFamiliasVulneraveisMunicipio}}%</div>
                  </td>
                  <td class="barraH border-equipamento"style="padding-right: 3%" width="25%">
                    <p class="keyword"> % do estado</p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasVulneraveisEstado}}%</div>
                  </td>
                </tr>
                <tr>
                  <td class="barraH"><img class="img-fluid2" src="./assets/img/icones/bolsa_familia_70px.png" align="left"></td>
                  <td class="barraH">
                    <p class="keyword">Bolsa família</p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nFamiliasBolsaFamilia}}</div>
                  </td>
                  <td class="barraH">
                    <p class="keyword"> % da população</p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasBolsaFamiliaMunicipio}}%</div>
                  </td>
                  <td class="barraH border-equipamento" style="padding-right: 3%" width="25%">
                    <p class="keyword">% cobertura</p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasBolsaFamiliaCobertura}}% </div>
                  </td>

                </tr>
                <tr>
                  <td colspan="2" class="barraH">
                    <img class="img-fluid2" src="./assets/img/icones/familias_registradas_70px.png" align="left" >
                    <p class="keyword">Famílias registradas no cadastro único</p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nFamiliasCadastroUnico}}</div>
                  </td>
                  <td class="barraH" style="padding-right: 3%" width="25%">
                    <p class="keyword" *ngIf="estadoSelected===false"> % da População Município</p>
                    <div class="vt-porcentagem" *ngIf="estadoSelected===false">{{indicadoresSociaisDoMunicipio.pFamiliasBolsaFamiliaMunicipio}}%</div>
                  </td>
                  <td class="border-equipamento barraH"style="padding-right: 3%" >
                    <p class="keyword">% cobertura</p>
                    <div class="vt-porcentagem">{{indicadoresSociaisDoMunicipio.pFamiliasCadastroUnicoCobertura}}%</div>
                  </td>
                </tr>
                <tr>
                  <td  colspan="2">
                    <img class="img-fluid2" src="./assets/img/icones/beneficio_prestacao_continuada_70px.png" align="left">
                    <p class="keyword"> Beneficiários de prestação continuada</p>
                    <div class="vt-bold">{{indicadoresSociaisDoMunicipio.nBeneficiariosPrestacaoContinuada}}</div>
                  </td>
                  <td></td>
                  <td class="border-equipamento1"></td>
                </tr>
                </tbody>
            </div>
            <div class=" col-md-4 col-12">
              <tr>
                <td>
                  <img class="img-fluid" src="./assets/img/icones/beneficio_eventual_70px.png">
                </td>
                <td >
                  <h3 class="p-2">Benefícios eventuais</h3>
                  <p class="p-text">Indica se Programas Eventuais de Benefícios são disponibilizados para o ente</p>
                </td>
                <td>
                  <img  [src]="'./assets/img/icones/check-'+(indicadoresSociaisDoMunicipio.cadUnicoBeneficiosEventuais?'sim':'nao')+'.png'" width="50rem">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-fluid" src="./assets/img/icones/paif_70px.png">
                </td>
                <td>
                  <h3 class="p-2">PAIF</h3>
                  <p class="p-text">Indica se o serviço de Proteção e Atenção Integral à Família está implantado no ente </p>
                </td>
                <td>
                  <img  [src]="'./assets/img/icones/check-'+(indicadoresSociaisDoMunicipio.cadUnicoPAIF?'sim':'nao')+'.png'" width="50rem">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="img-fluid" src="./assets/img/icones/paefi_70px.png">
                </td>
                <td>
                  <h3 class="p-2">PAEF</h3>
                  <p class="p-text">Indica se o serviço de Proteção e Atenção Especializado à Família está implantado no ente </p>
                </td>
                <td>
                  <img  [src]="'./assets/img/icones/check-'+(indicadoresSociaisDoMunicipio.cadUnicoPAEF?'sim':'nao')+'.png'" width="50">
                </td>
              </tr>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    <div class="col-xl-6 col-lg-12">
      <div class="row t-padding">
        <span class="titulo">Indicadores orçamentários</span>
      </div>
      <div class="padding-subtitulo">
        <span class="subtitulo">Indicadores orçamentários de programas no ente escolhido.</span>
      </div>
      <div class="card">
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th></th>
              <th class="barra keyword" style="text-align: right">Recursos</th>
              <th class="barra keyword" style="text-align: right">Utilizado</th>
              <th class="keyword" style="text-align: right">Não utilizado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="barraH keyword" scope="row" style="text-align: left; padding-top: 1.8vw;width: 20%">PSE</th>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.pseTotal)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.pseUtilizado)}}</td>
              <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.pseNaoUtilizado)}}</td>
              <td class="barraH vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut" [data]="graficoPSE" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.pseTotal, indicadoresOrcamentariosDoMunicipio.pseNaoUtilizado)}}</div>
              </td>
            </tr>
            <tr>
              <th class="barraH keyword" scope="row" style="text-align: left; padding-top: 1.8vw">PSB</th>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.psbTotal)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.psbUtilizado)}}</td>
              <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.psbNaoUtilizado)}}</td>
              <td class="barraH vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut"  [data]="graficoPSB" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.psbTotal, indicadoresOrcamentariosDoMunicipio.psbNaoUtilizado)}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Outros Programas<br/>(bloqueio ou omissão)</th>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
              <td class=" barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
              <td class="barraH vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Proteção Social Especial de Média Complexidade</th>
              <td class="barra barraH  vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
              <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
              <td class="barraH vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Proteção Social Especial de Alta Complexidade</th>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
              <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
              <td class="barraH vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Proteção Social Básica</th>
              <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
              <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
              <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
              <td class="barraH vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
              </td>
            </tr>
            <tr>
                <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Programas</th>
                <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
                <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
                <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
                <td class="barraH vt-red">
                  <div class="height-graphic">
                    <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                  </div>
                  <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Gestão do Bolsa Familía e  CadÚnico</th>
                <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
                <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
                <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
                <td class="barraH vt-red">
                  <div class="height-graphic">
                    <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                  </div>
                  <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="keyword barraH" style="text-align: left; padding-top: 1.8vw">Gestão do SUAS</th>
                <td class="barra barraH vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
                <td class="barra barraH vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
                <td class="barraH vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
                <td class="barraH vt-red">
                  <div class="height-graphic">
                    <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                  </div>
                  <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
                </td>
            </tr>
            <tr>
              <th scope="row" class="keyword" style="text-align: left; padding-top: 1.8vw">Resumo orçamentário</th>
              <td class="barra vt-black">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasTotal)}}</td>
              <td class="barra vt-green">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasUtilizado)}}</td>
              <td class="vt-red">{{formataMoeda(indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</td>
              <td class="vt-red">
                <div class="height-graphic">
                  <p-chart type="doughnut"  [data]="graficoProgramas" [options]="opcoesGraficos"></p-chart>
                </div>
                <div class="porcentagem-chart">{{formataPercent(indicadoresOrcamentariosDoMunicipio.programasTotal, indicadoresOrcamentariosDoMunicipio.programasNaoUtilizado)}}</div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

