.img-responsive{
  width: 4em;
  padding-right:.4em;
  padding-left:.4em;
  padding-top:.4em;
  padding-bottom:.4em;
}

.btn-primario{
  width: 60%;
  line-height: 30px;
  float: right;
  margin-top: .8em;

}
.btn-secundario{
  @extend .btn-primario;
  width: 5em;
}
.titulo{
  white-space: nowrap;
 text-transform: uppercase;
}

div > a{
  color: #0d95e8;
}
.card-block > p{
  text-transform: uppercase;
}
.img-fluid{
  width: 6rem;
  height: auto;
}

:host/deep/{
  .ui-state-default{
    border: 1px solid #d1d7dc;
    background: #fafafa !important;
    color: black;
    line-height: 3.4vw;
    margin-bottom: .2rem;
  }
  a{
    color: #0d95e8;
    font-family: Raleway ;
  }
  .ui-widget-content{
    background: white;
    border:none;
  }
  input {
    line-height: 1.5rem!important;
    width: 100%;
  }
}

@media (max-width: 991px) {

  .titulo{
    font-size: 1.3rem;
  }
  :host/deep/{
    .ui-state-default{
    line-height: 2.5em;
    }
  }
}
@media (min-width:1199px) {
  .card#altura{
    min-height:82%
  }
}
