
:host/deep/{
  .ui-state-default{
  border: 1px solid #d1d7dc;
  background: #eef1f4 !important;
  color: black;
  line-height: 3.7rem;
  }
  a{
    color: #00b0f0;
    font-size: 1.2rem;
    font-family: Roboto-Condensed ;
  }
}

