<div class="container-fluid"  style="min-height: 100vh">
  <div class="row">
    <div class="col-xl-2 col-3">
      <div class="row">
        <figure>
          <img src="./assets/img/Logo_SUAS.png" class="img-responsive ajusta_elemento">
          <img src="./assets/img/CAO-CIDADANIA-LOGO-blue.png"  style="width: 150px;height: auto;margin-left: 1em;">
        </figure>
        <!--/Temporario-->
      </div>
      <div class="row">
        <p><br/></p>
      </div>
    </div>

    <div class="col-xl-7 col-12">
      <div class="row t-padding">
        <span class="titulo">Perguntas Frequentes</span>
      </div>
      <div>
        <p class="subtitulo box-text" > Perguntas recorrentes e relevantes sobre o Observatório SUAS</p>
      </div>
      <div class="card" id="altura">
        <div class="card-block" >

          <div class="row" style="padding-bottom: .8vw">
            <label class="button-switch barra"  style="margin-left:auto; border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" checked="checked" (click)="selectTipo('cras')" id="check1">
              <span class="slider">
                <div  class="keyword" style="text-align: right">CRAS</div>
              </span>
            </label>
            <label class="button-switch barra" style="border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" (click)="selectTipo('creas')" id="check2">
              <span class="slider">
                <div  class="keyword" style="text-align: right">CREAS</div>
              </span>
            </label>
            <label class="button-switch barra" style="border-top: 1px solid #2e3a48">
              <input type="radio" name="radio" (click)="selectTipo('centroPop')" id="check3">
              <span class="slider">
                <div  class="keyword" style="text-align: right">CENTRO POP</div>
              </span>
            </label>
          </div>


          <p-accordion *ngFor="let pergunta of perguntasExibidas">
            <p-accordionTab styleClass="classAccordion" header="{{pergunta.pergunta}}">
              {{pergunta.resposta}}
            </p-accordionTab>
          </p-accordion>

        </div>
      </div>
    </div>

    <div class="col-xl-3 col-12 ">
      <div  class="row t-padding">
        <span class="titulo">Cartilhas e Manuais</span>
      </div>
      <div>
        <span class="subtitulo box-text">Visualize cartilhas e manuais de orientação disponíveis na base do Observatório SUAS</span>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class=" col-3  " style="padding-bottom: 1.6rem">
              <img class="img-fluid" src="./assets/img/logo-doc.png">
            </div>
            <div class=" col-6 ">
              <a >Cartilha</a>
              <p>Cartilha do SUAS</p>
            </div>
            <div class=" col-3">
              <button [routerLink]="['/busca/pecasdeatuacao/0']" class="btn-secundario">ver</button>
            </div>
          </div>
          <div class="row">
            <div class=" col-3">
              <img class="img-fluid" src="./assets/img/logo-doc.png">
            </div>
            <div class="col-6">
              <a>Manual</a>
              <p>Manual de inspeção CRAS</p>
            </div>
            <div class="col-3">
              <button [routerLink]="['/busca/pecasdeatuacao/0']" class="btn-secundario">ver</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row t-padding">
        <span class="titulo">Fale conosco</span>
      </div>
      <div>
        <span class="subtitulo ">Entre em contato com a equipe do Observatório SUAS</span>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="form-group">
            <p> Nome Completo * </p>
            <input id="nome" type="text" pInputText [(ngModel)]="nome">
            <p> E-mail * </p>
            <input id="email" type="text" pInputText [(ngModel)]="email">
            <p> Mensagem * </p>
            <input id="mensagem" style="height: 5.5rem; max-height: 100%;" type="text" pInputText [(ngModel)]="mensagem">
            <button class="btn-primario">enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

