//BEGIN SWITCH

.button-switch {
  position: relative;
  width:32%;
  display: inline-block;
}

.button-switch input {display:none;}

.slider {
  width: 100%;
  height: 3.5rem;
  padding: 0 20px;
  padding-left: inherit;
  display: block;
  cursor: pointer;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

span.slider:hover {
  color: white;
  background-color:#2e3a48;
  border-color: #057fb2;

    .keyword{
      color:white;
    }
}

input:checked + .slider {
  color: white;
  background-color: #057fb2;
  border-color: #057fb2;

  .keyword{
    color: white;
  }
}

//END SWITCH

.keyword{
  font-family: 'Raleway';
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #0d2b48;
  text-align: center;
}

.img-responsive{
  width: 4em;
  padding-right:.4em;
  padding-left:.4em;
  padding-top:.4em;
  padding-bottom:.4em;
}

.btn-primario{
  width: 60%;
  line-height: 30px;
  float: right;
  margin-top: .8em;

}
.btn-secundario{
  @extend .btn-primario;
  width: 5em;
}
.titulo{
  white-space: nowrap;
 text-transform: uppercase;
}

div > a{
  color: #0d95e8;
}
.card-block > p{
  text-transform: uppercase;
}
.img-fluid{
  width: 6rem;
  height: auto;
}

:host/deep/{
  .ui-state-default{
    border: 1px solid #d1d7dc;
    background: #fafafa !important;
    color: black;
    margin-bottom: .2rem;
  }
  a{
    color: #0d95e8;
    font-family: Raleway ;
  }
  .ui-widget-content{
    background: white;
    border:none;
  }
  .ui-accordion .ui-accordion-header a{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    box-sizing: content-box;
  }
  input {
    line-height: 1.5rem!important;
    width: 100%;
  }
}

@media (max-width: 991px) {

  .titulo{
    font-size: 1.3rem;
  }
  :host/deep/{
    .ui-state-default{
    line-height: 2.5em;
    }
  }
}
@media (min-width:1199px) {
  .card#altura{
    min-height:82%
  }
}
