.alinhamento-dir{
  text-align: right;
}

.barra-de-rolagem {
  width:100%;
  max-height:38em;
  background-color: transparent;
  overflow-y: auto;
}

.select{
  background-color:#bec1c4;
}

.bordas {

  height: 6.8rem;
  width: 100%;
  max-width: 100%;
}

.img-fluid{
  padding-top: 2em;
}

.municipio{
  font-family: 'Raleway';
  font-size: 1.2em;
  line-height: 90%;
  padding-left: 3%;
  width: 120%;
  color: #0d2b48;
  font-weight: 500;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 2.3em;
  margin-top: 10%;
  text-align: right;
}

.notasHeader {
  font-family: 'Raleway Light';
  font-size: .55em;
  line-height: 100%;
  text-align: right;
  padding-top: 3%;
  color: #0d2b48;
  font-weight: 700;
}

.posicao {
  font-family: 'Roboto-Condensed';
  font-size: 1.9em;
  line-height: 90%;
  width: 5%;
  white-space: nowrap;
  color: #0d2b48;
}

.ultimaNota {
  font-family: 'Roboto-Condensed-Light';
  font-size: 200%;
}

.card{
  margin: 0 !important;
  margin-bottom: .4em!important;
  border-radius: 0!important;
  padding: 1px;

}

.card-municipio:hover{
  background-color:#e7ebee!important;
}


h4{
  font-size: 280%;
  font-weight: normal;
}

hr {
  border: 1px solid;
  border-color: #2e3a48;
  width: 90%;
  margin-left: 0;
}

small{
  color:gray;
  font-size: 180%;
}

strong{
  font-size: 180%;
  font-weight: bold;
  width:5%;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {

  text-align: left;
}

ul li a{
  padding: 5%;
  text-decoration: none;
  color:black;
  display: block;

}

.div-padding{
  padding-top: 9%;
}

@media(min-width: 767px) and (max-width:1489px) {
  .municipio{
    font-size: 130%;
    width: 140%;
  }

  .posicao {
    font-size: 180%;
  }
  .ultimaNota {
    font-size: 150%;
    padding-right: 25%
  }
  .bordas {
    height: 7.3rem;
  }
  .div-padding{
    padding-top: 7%;
  }
}

@media (max-width:767px) {
  .municipio{
    font-size:120%;
    width: 120%;
  }
  .notaAtual {
    font-size: 160%;
  }
  .notasHeader {
    font-size: 70%;
  }
  .posicao {
    font-size: 155%;
  }
  .ultimaNota {
    font-size: 110%;
    padding-right: 25%
  }
  .bordas {
    height: 7.3rem;
  }
  div.row{
    width: 100%;
  }
  .div-padding{
    padding-top: 4%;
  }
}
