//@import "../../../css/main.scss";

.card{//importação não funciona
  color: inherit;
  background-color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  background-color: white;
  border-right: 1px solid #d2d7de!important;
  border-bottom: 1px solid #d2d7de!important;
  border-left: 1px solid #eaecee!important;
  border-top: 1px solid #eaecee!important;
  padding: 30px!important;
}

.scroll {
  height:70%;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 1%;
}

.macro-card{
  @extend .card;
  //height: 47.5em;
  padding-left: 1.7em !important;
  padding-right: 1.7em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  margin-bottom: 5em;
}

.micro-card{
  @extend .card;
  margin: 0em;
  padding: 0.5em !important;
  height: 11em;
}

.icone {
  width:3.5rem;
  padding-top: 2.5vw;
}

.dimensao {
  font-family: 'Raleway';
  font-size: 100%;
  line-height: .91em;
  font-weight: 500;
  word-wrap: normal;
  color: #264467;
  text-transform: uppercase;
}

.pesoHeader {
  font-family: 'Raleway';
  font-size: 90%;
  font-weight: 500;
  line-height: 90%;
  word-wrap: normal;
  padding-left: 0em!important;
  color: #264467;
}
.font-rating{
  font-family: 'Roboto-Condensed';
  font-size: 1.7em;
  line-height: 90%;
  font-weight: normal;
  right: 2%;
  word-wrap: normal;
}

.text-rating{
  font-size: .8em;
  text-transform: uppercase;
  padding: .5em;

}


.pesoValor {
  font-family: 'Roboto-Condensed';
  font-size: 250%;
  line-height: 90%;
  font-weight: normal;
  color: rgb(5, 127, 178);
  right: 2%;
  word-wrap: normal;
}

.info {
  font-family: 'Raleway';
  font-size: 80%;
  line-height: 1.2em;
}

.barra {
  border-right: 1px solid #2e3a48;
}

.barraH {
  border-top: 1px dotted #2e3a48;
  padding-top: 1%;
  margin-top: 1%;

}

hr {
  border-style: dotted;
  border-color: #2e3a48;
  width: 90%;
  padding-top: 2%;
  position: inherit;
  bottom: 1%;
}

p {
  padding-right: 4%;
  padding-left: 5%;
}

.logo {
  position: fixed;
  top: 40%;
  left: 40%;
  cursor: pointer;
}

@media(max-width:1199px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  div.scroll { height: 75%;}
  div.barraH{border-color: transparent}

  .macro-card{
    height: auto;
    padding-bottom: 1em!important;
  }
}
