<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-sm-7 col-sub col-8">
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <img src="./assets/img/Logo_SUAS/Logo_SUAS.png" class="img-responsive ajusta_elemento">
        <div class="col-4"></div>
        <!--Temporario-->
        <p> Centro Operacional<br/>das Promotorias de Justiça de Tutela<br/>Coletiva de Defesa da Cidadania</p>
        <!--/Temporario-->
      </div>

      <div class="row">
        <p><br/></p>
      </div>
    </div>

    <div class="col-lg-10 col-xs-12">
      <div class="row">
        <p></p>
      </div>

      <div class="row" style="height: 6.5em">
        <div class="col-lg-7 col-xs-12">
          <br/>
          <span class="titulo">Entenda as dimensões</span><br/>
          <span class="subtitulo">Quais são os assuntos e temas avaliados em cada uma das dimensões e qual o seu peso na composição do ranking do controle interno.</span><br/><br/>
        </div>
        <div class="col-lg-5 col-xs-12">
          <br/>
          <span class="titulo">Entenda a classificação</span><br/>
          <span class="subtitulo">Quais são os diferentes níveis de maturidade e as notas que definem os seus enquadramentos.<br/><br/></span>
        </div>
      </div>


      <div class="row" style="height: 36em">
        <div class="col-lg-7 col-xs-12">
          <div class="macro-card">
            <div class="card-block">
              <div class="row">
                <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Financiamento</div>
                            <div class="row">
                              <p class="info"><br/>Avalia a utilização dos recursos do Fundo Municipal de Assistência Social oriundos do Governo Federal, aplicados em programas, projetos, serviços e beneficios da assistência social.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 pesoHeader">
                          PESO <span class="pesoValor">10</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Gestão</div>
                            <div class="row">
                              <p class="info"><br/>Avalia a utilização dos recursos do Fundo Municipal de Assistência Social oriundos do Governo Federal, aplicados em programas, projetos, serviços e benefícios da assistência social.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="row">
                <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Inspeções</div>
                            <div class="row">
                              <p class="info"><br/>Avalia, através de um questionário semi-estruturado os equipamentos de assistência social do estado do Rio de Janeiro, a partir de inspeções realizadas por equipe técnica do Ministério Público do Rio de Janeiro.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 pesoHeader">
                          PESO <span class="pesoValor">10</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Número de Equipamentos</div>
                            <div class="row">
                              <p class="info"><br/>Avalia a partir do censo SUAS 2016, as atividades desenvolvidas pelos orgãos de gestão das Secretarias Municipais de Assistência Social.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="row">
                <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Controle Social</div>
                            <div class="row">
                              <p class="info"><br/>Avalia as ações realizadas pelos Conselhos Municipais de Assistencia Social a partir de dados extraídos do Censo SUAS.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/Icones_Tela_1_Orçamentos.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Cobertura Bolsa Família</div>
                            <div class="row">
                              <p class="info"><br/>Avalia o alcance da cobertura de famílias com o perfil para o programa Bolsa Família.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 pesoHeader">
                          PESO <span class="pesoValor">05</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-xs-12">
          <div class="macro-card">
            <div class="card-block">
              <div class="row">
                <img class="img-responsive" src="./assets/img/classificacoes.png" width="100%" height="100%" style="padding-left: 5%;padding-right: 5%;" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
