<div class="container-fluid" style="min-height: 100vh">
  <div class="row">
    <div class="col-xl-2 col-3 ">
        <div class="row">
          <figure>
            <img src="./assets/img/Logo_SUAS.png" class="img-responsive ajusta_elemento">
            <img class="img-logo" src="./assets/img/CAO-CIDADANIA-LOGO-blue.png" >
          </figure>
          <!--/Temporario-->
        </div>
        <div class="row">
          <p><br/></p>
        </div>
    </div>
    <div class="col-xl-10 col-12">

      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div class="col-xl-8 col-12"><br/>

          <span class="titulo"> dimensões</span><br/>
          <div class=" box-text">
            <span class="subtitulo">Entenda quais são os assuntos e temas avaliados em cada uma das dimensões e qual o seu peso na composição do ranking do controle interno.</span><br/><br/>
          </div>

          <div class="macro-card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/financiamento.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Financiamento</div>
                            <div class="row">
                              <p class="info"><br/>Avalia a utilização dos recursos do Fundo Municipal de Assistência Social oriundos do Governo Federal, aplicados em programas, projetos, serviços e beneficios da assistência social.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">10</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/secretario_assistencia_social_70px.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Gestão</div>
                            <div class="row">
                              <p class="info"><br/>Avalia a utilização dos recursos do Fundo Municipal de Assistência Social oriundos do Governo Federal, aplicados em programas, projetos, serviços e benefícios da assistência social.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/inspecoes_70px.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Inspeções</div>
                            <div class="row">
                              <p class="info"><br/>Avalia, através de um questionário semi-estruturado os equipamentos de assistência social do estado do Rio de Janeiro, a partir de inspeções realizadas por equipe técnica do Ministério Público do Rio de Janeiro.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">10</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/CRAS_Médio_70px.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Número de Equipamentos</div>
                            <div class="row">
                              <p class="info"><br/>Avalia a partir do censo SUAS 2016, as atividades desenvolvidas pelos orgãos de gestão das Secretarias Municipais de Assistência Social.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/controle social.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Controle Social</div>
                            <div class="row">
                              <p class="info"><br/>Avalia as ações realizadas pelos Conselhos Municipais de Assistencia Social a partir de dados extraídos do Censo SUAS.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/bolsa_familia_70px.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Cobertura Bolsa Família</div>
                            <div class="row">
                              <p class="info"><br/>Avalia o alcance da cobertura de famílias com o perfil para o programa Bolsa Família.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">05</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/familias_registradas_70px.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Cobertura do Cadastro Único</div>
                            <div class="row">
                              <p class="info"><br/>Avalia o alcance  da cobertura de cadastramento  de familias  com perfil  CadÚnico dos municípios.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">08</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12" style="padding: 0.2em">
                  <div class="micro-card">
                    <div class="card-block">
                      <div class="row">
                        <div class="col-3">
                          <img class="icone" src="./assets/img/icones/beneficio_eventual_70px.png" align="left">
                        </div>
                        <div class="col-7">
                          <div class="row">
                            <div class="dimensao">Resolução de Benefícios Eventuais </div>
                            <div class="row">
                              <p class="info"><br/>Avalia a existência de atos normativos que regulamentem os Benefícios Eventuais nos municípios.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-1 pesoHeader">
                          PESO <span class="pesoValor">05</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-4 col-12" >

          <br/>
          <span class="titulo"> classificação</span>
          <div class="box-text">
            <span class="subtitulo">Entenda quais são os diferentes níveis de maturidade e as notas que definem os seus enquadramentos.</span>
          </div>

          <div class="card-block">
            <div class="macro-card">
              <div class="card-block">
                <div class="row">
                  <div class="col-xl-12 col-md-4 col-6" style="padding: 0.2em">
                    <div class="micro-card">
                      <div class="card-block">
                        <div class="row">
                          <div class="col-6">
                            <figure>
                              <img class="img-envolvida" src="./assets/img/Ilustracao_SUAS_fase_1.png" style="max-width:100%; width: 10em">
                            </figure>
                          </div>
                          <div class="col-6">
                            <div class="row"  style="padding-top: 53px; padding-right: 25%;padding-left: 25%;">
                              <div class="col-12 dimensao" style="font-size: .9em;text-align: end ;padding-top: .5em">incipiente</div>
                              <div class="col-6" style="text-align: center;color: #B23158">
                                <div class="text-rating">de</div>
                                <div class="font-rating"> 0</div>
                              </div>
                              <div class="col-6" style=" color: #B23158">
                                <div class="text-rating">até</div>
                                <div class="font-rating"> 2,0</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12 col-md-4 col-6" style="padding: 0.2em">
                    <div class="micro-card">
                      <div class="card-block">
                        <div class="row ">
                          <div class="col-6">
                            <figure>
                              <img class="img-envolvida" src="./assets/img/Ilustracao_SUAS_fase_2.png" style="max-width:100%; width: 10em">
                            </figure>
                          </div>
                          <div class="col-6">
                            <div class="row "  style="padding-top: 53px; padding-right: 25%;padding-left: 25%;">
                              <div class="col-12 dimensao" style="font-size: .9em;text-align: end ;padding-top: .5em">pouco efetivo</div>
                              <div class="col-6" style="text-align: center;color: #B289A5">
                                <div class="text-rating">de</div>
                                <div class="font-rating"> 2,0</div>
                              </div>
                              <div class="col-6" style="text-align: center;color: #B289A5">
                                <div class="text-rating">até</div>
                                <div class="font-rating"> 4,0</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="col-xl-12 col-md-4 col-6" style="padding: 0.2em">
                    <div class="micro-card">
                      <div class="card-block">
                        <div class="row">
                          <div class="col-6">
                            <figure>
                              <img class="img-envolvida" src="./assets/img/Ilustracao_SUAS_fase_3.png" style="max-width:100%; width: 10em">
                            </figure>
                          </div>
                          <div class="col-6">
                            <div class="row"  style="padding-top: 53px; padding-right: 25%;padding-left: 25%;">
                              <div class="col-12 dimensao" style="font-size: .9em;text-align: end ;padding-top: .5em">intermediário</div>
                              <div class="col-6" style="text-align: center;color: #B29829">
                                <div class="text-rating">de</div>
                                <div class="font-rating"> 4,0</div>
                              </div>
                              <div class="col-6" style="text-align: center;color: #B29829">
                                <div class="text-rating">até</div>
                                <div class="font-rating"> 6,0</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12 col-md-4 col-6" style="padding: 0.2em">
                    <div class="micro-card">
                      <div class="card-block">
                        <div class="row">
                          <div class="col-6">
                            <figure>
                              <img class="img-envolvida" src="./assets/img/Ilustracao_SUAS_fase_4.png" style="max-width:100%; width: 10em">
                            </figure>
                          </div>
                          <div class="col-6">
                            <div class="row"  style="padding-top: 53px; padding-right: 25%;padding-left: 25%;">
                              <div class="col-12 dimensao" style="font-size: .9em;text-align: end ;padding-top: .5em">abrangente</div>
                              <div class="col-6" style="text-align: center;color: #118BB2">
                                <div class="text-rating">de</div>
                                <div class="font-rating"> 6,0</div>
                              </div>
                              <div class="col-6" style="text-align: center;color: #118BB2">
                                <div class="text-rating">até</div>
                                <div class="font-rating"> 7,5</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-xl-12 col-md-4 col-6" style="padding: 0.2em">
                    <div class="micro-card">
                      <div class="card-block">
                        <div class="row">
                          <div class="col-6">
                            <figure>
                              <img class="img-envolvida" src="./assets/img/Ilustracao_SUAS_fase_5.png" style="max-width:100%; width: 10em">
                            </figure>
                          </div>
                          <div class="col-6">
                            <div class="row"   style="padding-top: 53px; padding-right: 25%;padding-left: 25%;">
                              <div class="col-12 dimensao" style="font-size: .9em;text-align: end ;padding-top: .5em">muito abrangente</div>
                              <div class="col-6" style="text-align: center;color: #3138B2">
                                <div class="text-rating">de</div>
                                <div class="font-rating"> 7,5</div>
                              </div>
                              <div class="col-6" style="text-align: center;color: #3138B2">
                                <div class="text-rating">até</div>
                                <div class="font-rating"> 9,0</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12 col-md-4 col-6" style="padding: 0.2em">
                    <div class="micro-card">
                      <div class="card-block">
                        <div class="row">
                          <div class="col-6">
                            <figure>
                              <img class="img-envolvida" src="./assets/img/Ilustracao_SUAS_fase_6.png" style="max-width:100%; width: 10em">
                            </figure>
                          </div>
                          <div class="col-6">
                            <div class=" row"  style="padding-top: 53px; padding-right: 25%;padding-left: 25%;">
                              <div class=" col-12 dimensao" style="font-size: .9em;text-align: end ;padding-top: .5em"> efetivo</div>
                              <div class="col-6" style="text-align: center;color: #0D8B11">
                                <div class="text-rating">de</div>
                                <div class="font-rating"> 9,0</div>
                              </div>
                              <div class="col-6" style="text-align: center;color: #0D8B11">
                                <div class="text-rating">até</div>
                                <div class="font-rating"> 10</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
