.scroll {
  height:70%;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 1%;
}

.macro-card{
  height: 100%;
  padding-left: 1em !important;
  padding-right: 2em !important;
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.micro-card{
  padding: 0.5em !important;
  height: 11em;
}

.icone {
  width:3.5rem;
  padding-top: 2.5vw;
}

.dimensao {
  font-family: 'Roboto-Condensed';
  font-size: 140%;
  line-height: 90%;
  font-weight: bold;
  word-wrap: normal;
}

.pesoHeader {
  font-family: 'Roboto-Condensed';
  font-size: 100%;
  font-weight: bold;
  line-height: 90%;
  word-wrap: normal;
}

.pesoValor {
  font-family: 'Roboto-Condensed';
  font-size: 250%;
  line-height: 90%;
  font-weight: normal;
  color: rgb(5, 127, 178);
  right: 2%;
  word-wrap: normal;
}

.info {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  line-height: 95%;
}

.barra {
  border-right: 1px solid #2e3a48;
}

.barraH {
  border-top: 1px dotted #2e3a48;
  padding-top: 1%;
  margin-top: 1%;

}

hr {
  border-style: dotted;
  border-color: #2e3a48;
  width: 90%;
  padding-top: 2%;
  position: inherit;
  bottom: 1%;
}

p {
  padding-right: 4%;
  padding-left: 5%;
}

.ajusta_elemento{
  width: 11em!important;
  height: 14em !important;
  padding: 1.5rem;

}

.logo {
  position: fixed;
  top: 40%;
  left: 40%;
  cursor: pointer;
}

@media(max-width:1199px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  img.img-responsive { width:80%;}
  div.scroll { height: 75%;}
  div.barraH{border-color: transparent}
  max-width: 100%;
}
